<div class="panel panel-default main-orders topbtn">
                <div class="panel-heading">
                    <h3 class="panel-title">Популярные категории</h3>
                </div>
                <div class="panel-body">
                    <p>График 10 популярных категорий - график в виде пирога</p>
                </div>
            </div>