/* Футер прилепленный к низу начало */

html, body { height: 100% }
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#mainbody { background: #F5F5F5; }

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

@media (min-width: 992px) { 
    #wrap {
        background: url(../img/bg/970.png) repeat-y top center;
        }
}

@media (min-width: 1200px) { 
    #wrap {
        background: url(../img/bg/1170.png) repeat-y top center;
    }
}

a {
    cursor: pointer;    
}


#footer {
    height: 60px;
    background-color: transparent;
}

#footer .container .credit { margin: 20px 0 }

#footer .container .credit a {
    text-decoration: underline;
    color: #555;
}

#footer .container .credit a:hover {
    text-decoration:none;    
}

@media (max-width: 767px) { 
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Футер прилепленный к низу конец */

.noradius {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.navbar { background: #FFF;
margin-bottom:0;
border-bottom:none;
min-height:40px; }

#footer .row { background: #ebebeb !important }

/* Вход в админку начало */

.loginbg { background: #f0f0f0 }

.login-logo {
    background: url(../img/logo.png) no-repeat top center;
    height: 81px;
    width:81px;
    width: 100%;
    display: block;
    margin-bottom: 25px;
}

.form-signin {
    max-width: 300px;
    padding: 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    text-align: left;
}

.form-signin h2 {
    text-align: center;
    margin-bottom: 20px;
}

.loginmodal {
    padding-top: 150px;
    width: 282px;
}

.loginmodal .btn { width: 100% }

.loginmodal .modal-footer { margin: 0 }

#wrap {
    height: auto !important;
    margin: 0 auto -60px;
    min-height: 100%;
    padding: 0 0 60px;
}

#center-vertikal {
    width: 360px; /*Ширина блока*/
    height: 300px; /*Высота блока*/
    margin: 0 auto;
    overflow: visible;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -180px; /*Смещаем блок на половину всей ширины влево*/
    margin-top: -160px; /*Смещаем блок на половину высоты вверх*/
}

.main { height: 100% }

.main_in_main { height: 100% }

.content {
    padding-top: 0px;
    height: 300px;
}

.enter { width: 100% }

.textcenter { text-align: center }

.textcenter a {
    color: #2a6496;
    text-decoration: underline;
}

.textcenter a:hover { text-decoration: none }

#main_list { }

#center-vertikal .alert {
    margin-top: 15px;
    margin-bottom: 0;
}

.help-block-error {
    /* Уведомление о неверно заполненом поле */
    font-size: 12px;
    line-height: 13px;
    color: #FFF;
    background: #008ccd;
    border-radius: 4px;
    display: inline-block;
    padding: 4px 5px 4px;
    margin-top: 5px;
}

.help-block-error:before {
    /* Синяя стрелочка для уведомления */
    content: " ";
    color: #fff;  
    float: left;  
    position: relative;  
    top: -9px;
    left: 14px;
    background: url(../img/arrow-blue.png) no-repeat;
    display: block;  
    width: 9px;
    margin-left:-9px;
    height: 5px;
}

/* Вход в админку конец */

/* Самое верхнее меню начало */

.mininavbar {
    min-height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0;
}

.minicontainer {
    padding-left: 15px;
    padding-right: 15px;
    margin:0 -15px;
    border-bottom:1px solid #e0e0e0;
}

.mininavbar ul.navbar-nav li:first-child a { padding-left: 0 }

.mininavbar ul.pull-right li:last-child a { padding-right: 0 }

a.logout span { text-decoration: underline }

a.logout:hover span { text-decoration: none }

.mininavbar ul.nav li a {
    padding: 5px 20px;
    color: #333333;
}

a.to-frontend span { text-decoration: underline }

.mininavbar .badge { opacity: 0.4 }

.otkliki {
    margin:7px 0;
    }

.otkliki li { }

.otkliki li a span { text-decoration: underline }

.otkliki li a { 
    padding: 7px 8px 9px !important;
    margin-right:7px;
    border-radius:4px;
     }

.otkliki li:last-child a {
    margin-right:0;
    }

.otkliki li a span.badge {
    text-decoration: none;
    font-weight: normal;
    background: #428bca;
    padding: 2px 5px;
    opacity: 0.7;
    line-height: 11px;
    font-size: 11px;
}

.orderspage span.badge {
    background: #d9534f !important;
    opacity:1 !important;
}

.otkliki li a.orderspage {
    background-image: url(../img/icons/topmenu/orders.png);
    background-position: 8px 9px;
    background-repeat: no-repeat;
    padding-left: 30px !important;
}

.otkliki li a.top-message {
    background-image: url(../img/icons/topmenu/message.png);
    background-position: 8px 13px;
    background-repeat: no-repeat;
    padding-left: 30px !important;
}

.otkliki li a.faq {
    background-image: url(../img/icons/topmenu/comment.png);
    background-position: 8px 13px;
    background-repeat: no-repeat;
    padding-left: 30px !important;
}

.otkliki li a:hover, .otkliki li.active a { background-color: #f4f4f4 !important }

.otkliki li a:hover span { }

.adminmenu {
    margin:7px 0;
    }

.adminmenu li a { 
    padding: 7px 8px 9px 30px!important;
    margin-right:7px;
    border-radius:4px;
     }

.adminmenu li:last-child a {
    margin-right:0;
}

.adminmenu li a:hover, .otkliki li.active a { background-color: #f4f4f4 !important }

.adminmenu li a.usermenu {
    background-image: url(../img/icons/topmenu/boss.png);
    background-position: 8px 9px;
    background-repeat: no-repeat;

}

.to-frontend {
    background-color: #fafafa; !important;
    background-image: url(../img/favicon.ico);
    background-position: 8px 9px;
    background-repeat: no-repeat;
    }


/* Самое верхнее меню конец */

/* Описываем главное меню */

.mainmenu {
    background-color: #ffffff;
    padding: 0;
    border:0;
    margin:12px 0;
}

.mainmenu ul.nav li a {
    color: #434343;
    text-decoration: underline;
    padding:10px 10px 10px 32px;
    border-radius:4px;
    margin-right:10px;
    /* border:1px solid #e9e9e9; */
}

.mainmenu ul.nav li a:hover, .mainmenu ul.nav li.active a { background-color: #f4f4f4 !important }


.mainmenu ul.nav li ul li a {
    padding:6px 10px 8px 30px;
    border:none;
}

.mainmenu ul.nav li .dropdown-menu {
    right:14px;
    }

/* Меню второго и третьего уровня начало */
.thirdmenu {
    margin: 0 -15px;
    padding: 0 15px;
    border-bottom: 1px solid #f5f5f5;
    }

.thirdmenu ul {
    margin:10px 0 0 0;
    padding:0;
}

.thirdmenu ul li {
    display:inline-block;
    margin:0;
    padding:0;
}

.thirdmenu ul li a {
    padding:7px 10px;
    font-size:13px;
    color:#333;
    border-radius: 4px;
    margin-right: 8px;
    border:1px solid #e9e9e9;
    margin-bottom:10px;
}

.thirdmenu ul li.active a {
    background-color: #f4f4f4;
}

.thirdmenu ul li a {
    background-repeat: no-repeat;
    background-position: 12px 12px;
    background-image:none;
}

/* Меню второго и третьего уровня конец */

/* Фильтры для категорий начало */

.property-list .type {
    display: block;
    padding-right: 2px;
    width: 145px !important;
    width: auto;
    margin-right: 10px;
    text-align: left;
    right: 210px;
    position: absolute;
    top: 6px;
}

.property-list .label-default {
    background-color: #f0f0f0;
    font-size: 11px;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
}

.property-list .dd3-content { padding-right: 375px }

.roll-onoff {
    display: block;
    position: absolute;
    top: 5px;
    right: 85px;
    width: 150px;
    float: right;
}

/* Фильтры для категорий конец */

.mainmenu .fa { opacity: 0.6 }

.mainmenu ul.dropdown-menu li.active a { color: #FFF }

.mainmenu ul.dropdown-menu li.active a:hover { background: #488BCA }

.topmenu-arrow {
    background: url(../img/icons/topmenu/arrow.png) no-repeat;
    width: 39px;
    height: 20px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    bottom: -21px;
}

/* Описываем главное меню конец */

/* Блок управляющих кнопок начало */

.controlgroup {
    display: table;
    width: 970px;
    clear: both;
    background: #fbfbfb;
    margin-bottom: 15px;
    padding: 9px 15px 9px 15px;
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    margin: 0 -15px 15px -15px;
    border-bottom: 1px solid #f5f5f5;
}

.controlgroup .btn {
    margin-left: 8px;    
}

.controlgroup.stuck {
    position: fixed;
    top: 0;
    margin-top: 0;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    z-index: 500;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

@media (min-width: 992px) { 
    .controlgroup.stuck { width: 970px }
    .controlgroup {
        width:970px;
        }
}

@media (min-width: 1200px) { 
    .controlgroup.stuck { width: 1170px }
    .controlgroup {
        width:1170px;
        }
}

.controlgroup a {
    display: inline-block;
    margin: 2px 9px 2px 0;
}

.controlgroup a i {
    font-size: 14px;
    display: inline-block;
    position: relative;
    bottom: 0px;
    margin-right: 1px;
}

.controlgroup a:last-child { margin-right: 2px }

.controlgroup a.add { bottom: -1px }

.controlgroup a.save i { }

.controlgroup a.saveclose i { bottom: -1px }

.controlgroup a.saveadd i { bottom: -1px }

.controlgroup a.cancel { }

.controlgroup a.help { }

.openlink {
    display: block;
    float: left;
    width: 240px;
    text-align: left;
}

.openlink a {
    text-decoration: none;
    padding: 5px 0;
}

.openlink a span { text-decoration: underline }

.sep {
    padding-left: 21px;
    display: inline-block;
    border-left: 1px solid #EEE;
}

.checkall {
    border-bottom: 1px dotted;
    display: block;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 4px;
}

.checkall:hover { border: none }

.massoperations {
    display: block;
    background: #fafafa;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 4px 8px;
    line-height: 20px;
    margin-bottom:15px;
}

/* Блок управляющих кнопок конец */

/**
 * Nestable
 */

.dd-list {
    display: flex;
    position: relative;
    margin: 0 0 0 0;
    padding: 0;
    list-style: none;
    flex-direction: column;
}

.dd-list .dd-list { padding-left: 30px }

.dd-collapsed .dd-list { display: none }

.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 14px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border: 1px solid #ccc;
    background: #fafafa;
    background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: -moz-linear-gradient(top, #fafafa 0%, #eee 100%);
    background: linear-gradient(top, #fafafa 0%, #eee 100%);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-item > button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 20px;
    height: 20px;
    font-size: 14px;
    margin: 7px 4px 3px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    line-height: 1;
    text-align: center;
}

.dd-item > button:before {
    font-family: FontAwesome;
    content: "\f067";
    color: #888;
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
    z-index: 10;
}

.dd-item > button[data-action="collapse"]:before {
    font-family: FontAwesome;
    content: "\f068";
}

.dd-placeholder, .dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image: linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel > .dd-item .dd-handle { margin-top: 0 }

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}

/**
 * Nestable Extras
 */

.nestable-lists {
    display: block;
    clear: both;
    padding: 30px 0;
    width: 100%;
    border: 0;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
}

#nestable-menu { float: right }

#nestable-output, #nestable2-output {
    width: 100%;
    height: 7em;
    font-size: 0.75em;
    line-height: 1.333333em;
    font-family: Consolas, monospace;
    padding: 5px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#nestable2 .dd-handle {
    color: #fff;
    border: 1px solid #999;
    background: #bbb;
    background: -webkit-linear-gradient(top, #bbb 0%, #999 100%);
    background: -moz-linear-gradient(top, #bbb 0%, #999 100%);
    background: linear-gradient(top, #bbb 0%, #999 100%);
}

#nestable2 .dd-handle:hover { background: #bbb }

#nestable2 .dd-item > button:before { color: #fff }



a.delete-item:hover { text-decoration: none }

.controllinks {
    float: right;
}

.controllinks a { color: #BBB }

.controllinks a:hover { color: #666 }



.currentfilter {
    width: 45%;
    float: left;
    text-align: left;
}

.currentfilter.products {
    width: 65%;
    float: left;
}

.currentfilter.products .checkbox { margin-top: 2px }

#search_in_current_category {
    position: relative;
    top: 2px;
}

.currentfilter.products .input-group { width: 380px }

.incategory { width: 240px }

.currentfilter #appendedInputButton { width: 330px }

#rightblock { padding: 0 15px }

.opcity50 {
    opacity: 0.5;
    color: #333;
    margin-right: 10px;
}

.opcity50:hover { opacity: 1 }

.newchecbox { margin-bottom: 10px }

.newchecbox .btn-group {
    float: left;
    display: inline-block;
    width: 106px;
}

.newchecbox label {
    display: inline-block;
    margin-top: 4px;
}

.tagimage { width: 100% }

.goods {
    display: block;
    float: left;
    padding-left: 23px;
    color: #333;
    background: url(../img/goods.png) no-repeat 3px 3px transparent;
    opacity: 0.5;
    margin-top: -1px;
    margin-right: 10px;
    border: none;
}

.goods a {
    text-decoration: none;
    color: #333;
}

.goods a:hover { text-decoration: none }

.add-on a {
    text-decoration: none;
    color: #333;
}

.add-on .tooltip { text-shadow: none }

.pt20 { padding-top: 20px }

.float-left {
    display: block;
    float: left;
    margin-right: 20px;
}

ul.nolist {
    margin: 0;
    padding: 0;
}

ul.nolist li { list-style: none }

.margin-bottom-10 { margin-bottom: 10px }

.margin-top-15 { margin-top: 15px }

.margin-top-10 { margin-top: 10px }

#taggoups input { margin-bottom: 0 }

.fa-info-circle {
    position: relative;
    font-size: 14px;
    color: #666666;
}

a.icon-legend { text-decoration: none }

.product-name { width: 100% }

.product-name-place { width: 90% }

.product-name .add-on { }

/* Отдельный стиль всплывающих подсказок начало */

/* Отдельный стиль всплывающих подсказок конец */

/* Стиль блока вариантов товара */
.dd-item:nth-child(2n+1) > .dd3-content {
    background: #fcfcfc;
}

.dd3-content {
    display: block;
    height: auto;
    min-height: 36px;
    line-height: 18px;
    margin: 0;
    padding: 8px 10px 8px 38px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #e1e1e1;
    background: #f5f5f5;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content a { }

.dd3-content .delete-item { opacity: 0.2 }

.dd3-content .delete-item:hover { opacity: 0.7 }

.dd-dragel > .dd3-item > .dd3-content { margin: 0 }

.dd3-item > button { margin-left: 30px }

.dd3-item input.checkb {
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    left: 38px;
    position: absolute;
    text-align: left;
    top: 7px;
    width: 16px;
    opacity: 0.8;
}

a.delete-item:hover { text-decoration: none }

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 2px;
    cursor: pointer;
    width: 30px;
    padding: 5px 7px;
    text-indent: 100%;
    background: transparent;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    cursor: move;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #333;
    opacity: 0.2;
    font-size: 22px;
    font-weight: normal;
}

.dd3-handle:hover {
    color: #333;
    background: none;
}


.products .dd3-content { height: 48px }

.products .dd3-handle { top: 8px }

.variant-name { width: 46% !important }

.variant-sku {
    width: 14%  !important;
    text-align: right;
}

.variant-price {
    width: 12%  !important;
    text-align: right;
}

.variant-old-price {
    width: 12%  !important;
    text-align: right;
}

.variant-count {
    width: 8%  !important;
    text-align: right;
}

.variant-count i {
    font-size:12px;
    opacity:0.6;
}



/* Верстка загрузчика изображений */

.imguploader {
    min-height: 42px;
    width: 100%;
    margin-left: 0 !important;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    margin: 15px 0;
    display: table;
    text-align: center;
    color: #666;
    border-radius: 4px;
}

.imguploader:after { clear: both }

ul#img-list {
    margin: 0;
    padding: 0;
}

ul#img-list li {
    list-style: none;
    width: 130px;
    height: 165px;
    margin: 0 4px;
    display: block;
    float: left;
}

ul#img-list li .progress { margin-top: 8px }

ul#img-list li div { font-size: 11px }

ul#img-list li a { font-size: 11px }

/** Стилизуем input[type=file] **/

.btn-file {
    position: relative;
    overflow: hidden;
    margin-right: 4px;
}

.file-list { display: block }

.btn-file input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
}

/* Fix for IE 7: */

* + html .btn-file {
    padding: 2px 15px;
    margin: 1px 0 0 0;
}

/** Покупка товара с переменным количеством - начало **/

.variable-amount {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #e3e3e3;
    margin-bottom: 20px;
    border-radius:4px;
    }

.variable-amount-header {
    font-size:18px;
    margin-bottom:15px;
}

/** Покупка товара с переменным количеством - конец **/

/** Стилизуем превью изображений **/


.category-images {
    margin-left: 0px;
    display: block;
    width: 100%;
}

.object-images ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.object-images ul li {
    float: left;
    margin: 0 12px 12px 0;
    padding: 0;
    width: 92px;
    height: 92px;
}

.object-images ul li div {
    width: 92px;
    height: 92px;
    text-align: center;
    line-height: 92px;
}

.object-images ul li .placeHolder div {
    border: 1px dashed #83d6fb !important;
    cursor: move;
}

.object-images ul li div img {
    z-index: 10;
    vertical-align: central;
    margin-top: -5px;
}

a.fancybox {
    position: absolute;
    margin-top: 0px;
    margin-left: 4px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    margin-top: 71px;
    font-size: 15px;
    opacity: 0.15;
    display: block;
    z-index: 200;
}

a.fancybox:hover { opacity: 0.5 }

.delete_image {
    position: absolute;
    margin-top: 1px;
    font-size: 15px;
    margin-left: 75px;
    opacity: 0.15;
    display: block;
    z-index: 200;
}

.delete_image:hover { opacity: 0.8 }

.object-images {
    display: table;
    clear: both;
}

.dotted {
    /* Ссылка добавления категории */
    color: #434343;
    text-decoration: none;
    margin-left: 20px;
}

.dotted i, .bigi i {
    font-size: 14px;
    bottom: -1px;
}

.dotted span { border-bottom: 1px dotted }

.dotted:hover span { border-bottom: 1px dotted #FFF }

.dotted:hover {
    color: #434343;
    text-decoration: none;
}

/* Класс результатов поиска */

.searchnone { opacity: 0.3 }

.searchremove {
    display: block;
    position:relative;
    margin-top:-34px;
    float:right;
    z-index:100;
    color:#888;
    height:34px;
    width::34px;
    border:none !important;
    background-color:transparent !important;
}

#internet-upload-box {
    display: block;
    padding-top: 15px;
}

#internet-upload-box .btn, #internet-upload-box input { display: inline-block }

table#taggroups { margin-bottom: 10px }

table#taggroups .select2-container { width: 100% }

ul.taggroups li a {
    display: block;
    padding: 3px 5px 3px 23px;
}

#add_new_tag_group { margin-bottom: 20px }

ul.taggroups li a span { color: #CCC }

ul.taggroups li a:hover {
    text-decoration: none;
    background-color: #F5F5F5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

ul.taggroups li.active a {
    background-color: #F5F5F5;
    padding-left: 5px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

ul.taggroups li.active a i { opacity: 0.5 }

.showall {
    display: block;
    float: right;
    margin: 20px 0;
}

.showall a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    float: left;
    line-height: 1.42857;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 4px;
}

.showall a:hover {
    background: #f5f5f5;
    text-decoration: none;
}

.cetegoryfilter .checkbox { font-size: 12px }

.cetegoryfilter { margin-bottom: 15px }

#tree-root {
    display:table;
    clear: both;
    width: 100%;
}

#mass_operation { width: 180px }

/* Сортировка - начало */

#sortview {
    display: table;
    clear: both;
    width: 100%;
}

#sort {
    font-size: 12px;
    display: block !important;
    float: right;
    margin-bottom: 15px;
}

#sort li.disabled {
    display: block;
    padding: 7px 4px 6px 0;
    position: relative;
    color: #999;
}

#sort li a {
    border-radius: 4px;
    font-size: 12px;
}

#sort li a {
    padding: 6px 6px;
    text-decoration: none;
}

#sort li a.current { background: #EEE }

#sort li a span {
    text-decoration: none;
    border-bottom: 1px dotted;
}

#sort li a:hover { text-decoration: none }

#sort li a:hover span { text-decoration: none }

.itemcount {
    display: block;
    float: left;
    width: 90px;
    margin-top: 3px;
    opacity: 0.5;
    line-height: 26px;
    text-align: left !important;
    font-size: 12px;
}

/* Сортировка - конец */

/* Стиль списка товаров начало */

.com-products .row .col-md-1 {
    padding-left: 12px;
    padding-right: 10px;
    width: 10%;
}

.com-products .row .col-md-3 {
    padding-left: 2px;
    padding-right: 2px;
    width: 20%;
}

.com-products .productname {
    padding: 0 0 0 2px;
    width: 50%;
}

.com-products .variantname {
    display: block;
    font-size: 12px;
    color: #888888;
    text-align: right;
    line-height: 26px;
    float: left;
    margin-right: 5px;
    width: 85px;
}

.onevariant {
    display: table;
    text-align: right;
    margin-bottom: 4px;
}

.onevariant:after { clear: both }

.showvariants {
    display: block;
    float:right;
    width: 195px;
    padding-bottom: 2px;
    text-align: right;
    font-size: 12px;
    line-height:12px;
    text-decoration: underline;
}

.variants-block {
    display: block;
    float: right;
    width: 100px;
}

.product-name-list {
    display: block;
    float: left;
    margin-left: 20px;
}

.product-list-item-block {
    display: flex;
    flex-basis: 100%;
    
}

.product-left {
    display: flex;
    flex-basis: 100%;
    }

.product-block {
    display: table;
    float: right;
    clear: both;
}

.product-id {
    display: block;
    float: left;
    width:245px;
    font-size:11px;
    line-height:1.1;
    color: #c24c6a;
    margin:2px 0;
    }

.product-sky {
    display: block;
    float: left;
    width:245px;
    font-size:11px;
    line-height:1.1;
    color:#8B8B8B;
}

.com-products .dd3-content {
    padding: 8px 50px 8px 50px;
    height: auto;
    min-height: 50px;
    display: table;
    clear: both;
    width: 100%;
}

.com-products .rightside {
    display: block;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 40px;
    color: #333;
    font-weight: normal;
}

.com-products .dd3-content .checkb { left: 30px !important }




.com-products .variants {
    display: block;
    float: right;
    width: 38%;
    padding: 0;
}

.product-price {
    display: block;
    float: right;
    width: 72px;
    margin-right: 5px;
}

.product-price input {
    display: block;
    float: left;
    width: 59px !important;
}

.product-currency {
    display: block;
    float: right;
    width: 13px;
    line-height: 28px;
    color: #999;
}

.product-price input { border-radius: 4px ! }

.product-quantity {
    display: block;
    float: right;
    width: 41px;
}

.product-price .form-control, .product-quantity .form-control {
    background-color: #FFFFFF;
    text-align: right;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 13px;
    height: auto;
    line-height: 1.42857;
    padding: 4px 4px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

/* Стиль списка товаров конец */

/* Стиль категорий начало */

.com-categories .dd3-content {
    padding-left: 54px;
    padding-right: 160px;
}

.com-categories .checkb { left: 30px !important }

.com-categories .dd3-item > button { margin-left: 48px }

.com-categories a.catname { }

.btn-lists .btn { padding: 5px 7px !important }
.idblock {
    width:45px;
    display:block;
    float:left;
    box-sizing:border-box;
    }

.goodsblock {
    width:45px;
    display:inline-block;
    box-sizing:border-box;
    }
/* Стиль категорий конец */

/* Стиль брендов начало */

.com-brandlist .opcity50 { display: none }

.com-brandlist .dd3-content {
    padding-left: 54px;
    padding-right: 160px;
}

.select2-container-multi .select2-choices { }

.com-brandlist .dd3-item input.checkb { left: 30px !important }

/* Стиль брендов конец */

/* Стиль списка заказов и страницы заказа */

.com-allorders .dd3-content {
    padding: 8px 4px 8px 27px;
    height: auto;
}

.com-allorders .neworder .dd3-content {
    background: #f1f7ed !important;
    border-left:2px solid #5cb85c;
}

.com-allorders .dd3-item input.checkb { left: 8px }

.com-allorders  .order-status {
    display:block;
    float:right;
    background-color: #f0f0f0;
    font-size: 11px;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
    border-radius:2px;
    line-height:1.2;
    }

.com-allorders .time {
    display: block;
    float: left;
    font-size: 12px;
    margin-top: 1px;
    width: 140px;
    color: #666;
}

.com-allorders .dd3-content a { color: #2a6496 }

.order-user i {
    color: #666;
    opacity: 0.8;
}

.com-allorders .orderbody {
    min-width: 600px;
    padding-left: 96px;
    padding-right: 26px;
}

.com-allorders .orderbody:after { clear: both }

.com-allorders .orderbody, .com-allorders .time {
    float: left;
    position: absolute;
    left: 30px;
}

.com-allorders .panel-group {
    margin:0;
    }

a.order-numder {
    display: block;
    width: 110px;
    float: left;
    position: relative;
    text-decoration: underline;
}

a.order-numder:hover { text-decoration: none }

.order-user {
    display: block;
    width: auto;
    float: left;
    width: 200px;
    position: relative;
}

.order-list-summ {
    font-size: 14px;
    text-align: right;
    display: block;
    float: right;
    width:92px;
    margin-left:7px;
}

.order-list-summ span { font-size: 14px }

.notes {
    /* примечания */
    background-color: #FCF8E3;
    border: 1px dashed #FBEED5;
    padding: 4px 6px;
    font-size: 14px;
    margin: 8px 26px 0 0;
    border-radius: 4px;
}

#orderblock, #userblock {
    display: block;
    padding: 0 !important;
    min-height: 20px;
}

#orderblock:after { clear: both }

a.composition {
    color: #d2d2d2 !important;
    text-decoration: none;
    display: block;
    float:left;
    margin: 2px 0 0;
    line-height:16px;
    width: 32px;
    padding-left:2px;
    font-size:14px !important;
}

.label-user {
    position: absolute;
    right: 100px;
}

#extra p:last-child { margin-bottom: 0 }

.send-notok a i { color: #ac2925 }

.send-ok a i { color: #398439 }

.selectvariant .to-order {
    font-style: italic;
    color: #D30104;
}

.selectvariant .out-of-stock { color: #999 }

.mapyandex-show {
    display:block;
    width:100%;
    text-align:center;
    font-size:16px;
    padding:7px;
    line-height:32px;
    background:#f9f9f9;
    color:#8A8A8A;
    text-decoration:none;
    }

.mapyandex-show:hover {
    background: #f5f5f5;
    text-decoration:none;
    transition: background 0.2s ease;
}

.mapyandex-show:hover span {
    border-bottom:none;
    }

.mapyandex-show span {
    border-bottom:1px dotted;
}

.deliverymap {
    margin-top:30px;
    }

.label-delivery-status {
    }

.label-new-status {
    background:#5cb85c !important;
    color:#FFF !important;
    }

.label-accepted-status {
    background:#428bca !important;
    color:#FFF !important;
    }

.label-delivery-status {
    background:#5bc0de !important;
    color:#FFF !important;
    }

.label-executed-status {
    background:#777 !important;
    color:#FFF !important;
    }

.label-canceled-status {
    background:#d9534f !important;
    color:#FFF !important;
    }

/* Стиль списка заказов конец */



/* Список товаров на странице заказа начало */

.orderproducts .productname {
    display: block;
    padding-left: 50px;
    padding-right: 205px;
    padding-bottom: 5px;
}

.orderproducts label.variant-name { width: auto }

.orderproducts .right-side {
    display: block;
    float: right;
    position: absolute;
    right: 20px;
    max-height: 50px;
    text-align: center;
    width: 220px;
}

.selectvariant { 
    display: inline-block;
     }

.selectvariant select {
    width: 150px;
    display: block;
}

.selectvariant label {
    display: inline;
    color: #555;
}

.selectvariant select {
    padding: 3px;
    height: 24px;
    line-height: 24px;
    border-radius: 3px 3px 3px 3px;
    font-size: 12px;
}

.orderproducts .variantname {
    margin: 0px 5px 0 0;
    font-size: 12px;
    display: table;
    width: 100%;
    color: #777;
}

.order-sky {
    margin: 0px 5px 0 0;
    font-size: 12px;
    display: table;
    width: 100%;
    color: #777;
}

.orderproducts .variantname:after { clear: both }

.artikul {
    display: inline-block;
    color: #999;
}

.sku_value { color: #666 !important }

.fs12 { font-size: 12px }

.cart-pod-zakaz { /* отметка что этот товар под заказ */
    display: block;
    margin-top: 3px;
}

.cart-pod-zakaz span {  /* стиль модификаторов цены */
    display: inline-block;
    font-size: 12px;
    color: #666;
    background: #f5f5f5;
    padding: 2px 5px;
    border-radius: 2px;
}

.cart-modifier {
    display:table;
    clear:both;
    width:100%;
    margin-top:2px;
    }

.cart-modifier ul {
    margin:0;
    padding:0;
}

.cart-modifier ul li {
    display:block;
    list-style:none;
}

.cart-modifier li div {
    display: inline-block;
    font-size: 12px;
    color: #333;
    background: #fcf8e3;
    padding: 2px 5px;
    border-radius: 2px;
    margin-bottom:2px;
}

.btn-edit-modificators {
    margin-top:8px;
    }

/* - Всплывающее окно редактрования модификаторов цены начало */
.modificators-dialog { 
    }

.modificators-dialog  .purchase-price {
    }

.modified-product-price-order {
    display: block;
    float: right;
    width: 95px;
    text-align: right;
    font-size: 18px;
    background: #f8f6e6;
    padding: 5px;
    border-radius: 4px;
}

.modificators-dialog .modal-footer .btn {
    width:100%;
    }

.modified-product {
    display:table;
    clear:both;
    width:100%;
    margin-bottom:15px;
    }

.product-modifier-group .checkbox, .product-modifier-group .radio  {
    padding-left:15px;
    }

.modifier-select {
    margin:10px 0 !important;
    display:block;
    }

.modifier-checkbox {
    margin-top:-9px;
    display:block;
}

.modifier-group-header {
    font-weight:bold;
    display:block;
    margin-bottom:-5px;
    }
/* - Всплывающее окно редактрования модификаторов цены конец */

/* Бейджи заказов начало */
.payment-badges {
    text-align: right;
    display: block;
    float: right;
    width: 16px;
    height:16px;
    margin:2px 5px 0 0;
    }

.oneclick {
    display:inline-block;
    font-size: 11px;
    background-color: #FFF;
    padding: 3px 5px;
    color: #555;
    border-radius: 2px;
    line-height: 1.2;
    margin:0 5px 5px 0;
    }

.order-badge {
    display:inline-block;
    width:16px;
    height:16px;
    margin:0 5px 0 0;
    }

.money-wait {
    background: url(../img/icons/payment-icons.png) no-repeat 0px 0px;
    }

.money-waitpay {
    background: url(../img/icons/payment-icons.png) no-repeat 0px -34px;
    }

.money-ok {
    background: url(../img/icons/payment-icons.png) no-repeat 0px -16px;
    }

/* Бейджи закзаов конец */


/* -- Модификаторы цены начало */
.product-modifier { 
    display:table;
    clear:both;
    width:100%;
    }

.product-modifier-img {
    display:inline-block;
    }

.product-modifier .input-group {
    width:75px;
    }

.product-modifier .input-group input {
    text-align: right;
    padding: 3px 5px 2px;
    height: 25px;
    width:28px;
    border: 1px solid #CCCCCC !important;
    border-radius: 4px !important;
}

.product-modifier .input-group .btn-sm {
    padding: 2px 6px 2px;
    color: #666;
    font-size: 14px;
    border: none;
    margin: 0 1px 0 1px!important;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: none !important;
}

.product-modifier .input-group .btn-sm.disabled i {
    color: #666 !important;
    box-shadow: none;
}

.product-modifier .input-group .btn-sm.focus { }

.product-modifier .input-group .btn-sm i { color: #999 }

.product-modifier .input-group .btn-sm:hover i { color: #333 }

.modifier-counter {
    display:inline-block;
    }

.modifier-counter .input-group {
    margin-bottom:-8px;
}

/* -- Модификаторы цены конец */


/* Список товаров на странице заказ конец */

#show_groups_list { margin-top: 20px }

legend { padding-bottom: 7px }

label { font-weight: normal }

label a:hover { text-decoration: none }

label a i { color: #666 }

.input-group-btn .btn { margin-left: -1px }



#image-upload-url { width: 208px }

#upload-all { margin-bottom: 20px }

#brandselect { }

.productvarariants {
    padding: 10px;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bigname { font-size: 21px }

.bigname a { font-size: 14px }

.headlines {
    font-size: 12px;
    color: #666;
    padding: 0px 10px 2px 38px;
}

.headlines div { display: inline-block }

/* Отступы у выпадающего списка категорий */
.category-level-1 span {
    padding-left: 20px;
}

.category-level-2 span {
    padding-left: 40px;
}

.category-level-3 span {
    padding-left: 60px;
}

.category-level-4 span {
    padding-left: 80px;
}

.category-level-8 span {
    padding-left: 90px;
}

.category-level-5 span {
    padding-left: 100px;
}

.category-level-6 span {
    padding-left: 110px;
}

.category-level-7 span {
    padding-left: 120px;
}

.category-level-8 {
    padding-left: 130px;
}

.category-level-9 span {
    padding-left: 140px;
}

.category-level-10 span {
    padding-left: 150px;
}


div.categories-right {
    display: block;
    float: right;
    width: 9% !important;
}

div.categories-right a {
    color: #333;
    opacity: 0.5;
}

div.categories-right a:hover {
    opacity: 1;
    text-decoration: none;
}

#categories-list .categories-dropdown-js {
    margin-bottom: 10px;
}

/* Красим некоторые ссылки в черный цвет */

.delete-parent_category { }

.delete-parent_category:hover { opacity: 1 }

ol.dd-list-small {
    list-style: none;
    padding: 0;
}

.dd-item-small {
    padding-left: 20px;
    font-size: 14px;
    margin: 4px 0;
}

.dd-item-small i {
    position: absolute;
    margin: 4px 0 0 -20px;
    font-size: 14px;
    display: block;
    color: #888;
    float: left;
    cursor: pointer !important;
}

.dd-item-small a {
    color: #333;
    display: block;
    text-decoration: none;
    padding-right: 30px;
}

.dd-item-small span {
    color: #c3c3c3;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 16px;
}

.dd-item-small a.active { font-weight: bold }

.dd-item-small a:hover { text-decoration: underline }

.order-productimage {
    width: 42px;
    height: 42px;
    line-height: 42px;
    min-height: 10px;
    display: block;
    float: left;
    margin-right: 7px;
    margin-bottom: 4px;
    text-align: center;
    clear: right;
    text-align: center;
    background: #FFF;
    border: 1px solid #dcdcdc;
}

.order-productimage img { margin-top: -4px }

.productimage {
    float: left;
    align-content: center;
    margin-right: 7px;
    text-align: center;
}


.productimage img {

}

.orderbody {
    display: block;
    width: 95%;
}

ol.product-list { padding: 0 }

ol.product-list .productimage { border: 1px solid #dddddd }

ol.product-list li.order-purchases {
    padding: 0;
    list-style: none;
    min-height: 40px;
    height: auto;
    width: 100%;
    padding: 4px;
    border-bottom: 1px solid #E1E1E1;
    background: #F5F5F5;
    display: table;
}

ol.product-list li.order-purchases:after { clear: both }

ol.product-list li.order-purchases:last-child {
    border-bottom: none;
    padding-bottom: 0px;
    min-height: 38px;
    height: auto;
}

ol.product-list li.order-purchases:nth-child(2n+1) {
    background: #fcfcfc !important;
    /* Именно для меню не будем использовать */
}

.product-list-price {
    float: right;
    display: block;
    text-align: right;
    width: 15%;
    margin-left: 2%;
}

.product-list-count {
    float: left;
    display: block;
    width: 10%;
    margin-left: 2%;
}

.productname a { text-decoration: underline }

.productname span { color: #777 }

.whitepanel {
    background: #FFF;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #e9e9e9;
    margin:4px 8px 0 0;
}

select.orderstatus {
    width: 150px;
    display: inline;
    margin-left: 20px;
}

a.user {
    color: #2a6496;
    text-decoration: underline;
}

a.user:hover { text-decoration: none }

.userselect i { opacity: 0.6 }

.panel-warning .panel-heading { color: #333 !important }

.minimessage {
    font-size: 12px;
    opacity: 0.5;
}

.form-control[disabled] {
    background: #fff;
    box-shadow: none;
    border: 1px solid #efefef;
}

.product-price-order {
    display: block;
    float: right;
    width: 95px;
    text-align: right;
    margin-right: 20px;
}

.product-price-order label { margin-bottom: 0 }

.product-price-order .form-control {
    padding: 3px 5px !important;
    height: 25px;
    text-align: right;
}

.product-price-order .input-group-addon {
    padding: 3px 5px !important;
    height: 25px;
}

.product-quantity-order {
    display: block;
    float: right;
    margin-right: 20px;
    width: 77px;
}

.product-quantity-order .form-control {
    padding: 3px 5px !important;
    height: 25px;
    width: 31px;
    text-align: right;
    border-radius: 3px !important;
}

.product-quantity-order .btn-sm {
    padding: 2px 6px 2px;
    color: #666;
    font-size: 14px;
    border: none;
    margin: 0 1px 0 1px!important;
    border-radius: 4px !important;
    border: none !important;
    box-shadow: none !important;
    background-color: transparent;
}

.product-quantity-order .btn-sm:hover { background-color: #dcdcdc }

.product-quantity-order .btn-sm.disabled i {
    color: #666 !important;
    box-shadow: none;
}

.product-quantity-order .btn-sm i { color: #999 }

.product-quantity-order .btn-sm:hover i { color: #333 }

.product-list .form-control[disabled] {
    background-color: transparent;
    box-shadow: none;
    border: none;
}

a.order-edit {
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    line-height: 14px;
    width: auto;
    padding: 5px 0 15px;
}

a.order-edit span { border-bottom: 1px dashed }

a.order-edit:hover span { border: none }

.product-variant {
    display: inline-block;
    margin: 0 10px;
    width: auto;
    padding: 3px;
    height: 25px !important;
}

.ordersumm {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
}

.ordersumm .b-rub { font-size: 14px }

#total_products_sum, #total_products_sum_wdiscount { font-size: 18px }

.ordersumm.total {
    font-size: 24px;
    width: 100%;
    display: table;
    clear: both;
    margin-top: 15px;
    background: #f8f6e6;
    padding: 5px;
    border-radius: 4px;
}

#total_sum { font-size: 24px }

.ordersumm span.minisumm { font-size: 14px }

.margin-top-20 { margin-top: 20px }

.margin-top-50 { margin-top: 50px }

.deliveryselect {
    width: 40% !important;
    float: left;
    margin-right: 15px;
}

.deliverycost {
    width: 15%;
    float: left;
}

.deliverycost input { text-align: right }

.delivery {
    margin-top: 20px;
    display: table;
    width: 100%;
    clear: both;
    padding: 0 !important;
}

.separately { float: right }

.discount {
    width: 100%;
    height: auto;
    clear: both;
    min-height: 35px;
}

.discount .form-group {
    width: 205px;
    display: block;
    float: left;
}

.discount .btn-default { background: #eeeeee }

.order-discount { text-align: right }

.discountcost {
    width: 160px;
    float: left;
}

.discountcost input { text-align: right }

/* Страница пользователей и список пользователей */

.com-user-list .dd3-item input.checkb { left: 10px }

.user-name {
    display: table;
    : ;
    float: left;
    width: 40%;
}

.userblock {
    display: table;
    width: 100%;
}

.userblock:after { clear: both }

.user-name:after { clear: both }

.user-mail {
    display: block;
    float: left;
    padding-left: 30px;
    position: relative;
    width: auto;
}

.user-group {
    display: block;
    float: right;
    padding-right: 2px;
    width: 110px;
    position: relative;
    width: auto;
    margin-right: 10px;
    text-align: right;
}


.phone-code {
    display: block;
    float: left;
    width: 90px;
}

.phone-code input {
    text-align: left;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    border-radius: 4px !important;
    padding-left: 11px !important;
    padding-right: 11px !important;
}

.phone-code span {
    background-color: transparent;
    border-color: #FFF !important;
    padding-left: 2px;
    padding-right: 2px;
}

.phone-number { width: 83px }

.font12 { font-size: 12px }

.panel-brands {
    border: none;
    box-shadow: none;
    background: #FFF;
    padding:15px;
    border-bottom:1px solid #f5f5f5;
}

.panel-brands .box-header {
    margin-bottom:0;
    }

.box-header a {
    display: block;
    color: #333;
    text-decoration: none;
}

.box-header a i { color: #888 }

.box-header a:hover { text-decoration: none }

#brands {
    -moz-column-count: 2;
    -moz-column-gap: 15px;
    -webkit-column-count: 2;
    -webkit-column-gap: 15px;
    column-count: 2;
    column-gap: 15px;
    margin-top:15px;
}

.taggroupselect a h4 {
    font-size: 14px;
    font-weight: bold;
}

.taggroupselect .list-group-item-success { color: #434343 }

#brands .checkbox {
    margin-top: 2px;
    margin-bottom: 0px;
    font-size:13px;
    line-height:21px;
}

#brands .checkbox:first-child { margin-top: 0 !important }

.panel-filter { }

.taggroupname {
    font-size: 14px;
    color: #333;
    text-decoration: none;
    border-bottom: 1px dotted #333;
    line-height: 1.45;
}

.nomargin { margin: 0 }

.com-usergroups .dd3-content { padding-left: 31px }

.checked {
    background-color: #5CB85C;
    padding: 4px;
    vertical-align: baseline;
    color: #FFFFFF;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    display: inline;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.notchecked {
    background-color: #f7f7f7;
    padding: 4px;
    vertical-align: baseline;
    display: inline;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.checked {
    background-color: #5CB85C;
    padding: 4px;
    vertical-align: baseline;
    color: #FFFFFF;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    display: inline;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.checked label {
    padding-left:4px !important;
    }

#divchecked { display: block }

.phonetwo {
    margin-top: -13px;
    display: block;
}

.phonetwo a {
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dashed;
}

.phonetwo a:hover {
    text-decoration: none;
    border-bottom: none;
}

.notbordersandpadding .form-control[disabled] {
    padding: 0;
    border: none;
    color: #333;
}

.com-usergroups .opcity50 {
    /*Верстка списка ползователей*/
    display: none;
}

.mans {
    /*Количество пользователей в группе*/
    display: block;
    float: left;
    padding-left: 23px;
    color: #333;
    background: url(../img/mans.png) no-repeat 3px 3px transparent;
    opacity: 0.5;
    margin-top: -1px;
    margin-right: 10px;
    border: none;
}

.mans a {
    text-decoration: none;
    color: #333;
}

.mans a:hover { text-decoration: none }

.nobottommargin .orderslist { margin-bottom: 0 }

/* Сопутсвующие товары начало */

#related, #analogs {
    margin-top: -10px;
    margin-bottom: 10px;
}

#related .dd3-handle {
    padding: 5px 4px;
    width: 22px;
}

.relatedimage {
    position: absolute;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: 5px;
    display: block;
    left: 19px;
}

.relatedimage img { position: relative }

.relatedname { font-size: 12px }

.relatedname a {
    display: block;
    line-height: 1.3;
}

.relatedproducts .dd3-content { padding: 4px 40px 4px 58px }

.lampoff .relatedimage, .lampoff .relatedname { opacity: 0.5 }

.delrelated {
    position: absolute;
    right: 0px;
    width: 12px;
    display: block;
    height: 12px;
}

.statusrelated {
    position: absolute;
    right: 22px;
    width: 12px;
    display: block;
    height: 12px;
}

.statusrelated i { opacity: 0.4 }

.statusrelated i.fa-times-circle { color: #900 }

.statusrelated i.fa-check { color: #093 }

.related-sky {
    /* Артикул */
    font-size: 11px;
    line-height: 14px;
    color: #c3c3c3;
    display: table;
    clear: both;
    width: 100%;
}

.related-id {
    /* id но его не показываем */
    font-size: 11px;
    line-height: 14px;
    color: #c3c3c3;
    display: block;
    float: right;
    width: 25%;
    text-align: right;
    margin-left: 5%;
}

/* Сопутсвующие товары конец */


/* Файлы начало */
#files {
    margin-top: -10px;
    margin-bottom: 10px;
}

#files .dd3-content {
    padding: 8px 10px 8px 43px;
    }

#files .input-group {
    width:80%;
    margin-top:4px;
    }

#files .dd3-handle {
    padding: 5px 4px;
    width: 22px;
}

.fileimage {
    position: absolute;
    text-align: center;
    width: 16px;
    height: 16px;
    margin: 0 7px;
    display: block;
    left: 15px;
}

.fileimage img { position: relative }

.filename { font-size: 12px }

.filename a {
}

.filename span {
    display:block;
    }

.delfile {
    position: absolute;
    right: 5px;
    width: 12px;
    display: block;
    height: 12px;
    opacity:0.2;
}

.delfile:hover {
    opacity:0.5;
    }

.file-settings {
    font-size:12px;
    color:#afafaf;
    display:block;
    float:right;
    margin-right:20px;
    }

.file-settings:hover {
    cursor:pointer;
    color:#525252;
}


.attachment-uploader {
    min-height: 42px;
    width: 100%;
    margin-left: 0 !important;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    margin: 15px 0;
    display: table;
    text-align: center;
    color: #666;
    border-radius: 4px;
    }

/* Файлы конец */

/* Выпадающий списка сопутствующих товаров начало */

.apsearch {
    display: block;
    background: #f7f7f7;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 9px;
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 20px;
}


.apsearch input, .apsearch .btn { border-radius: 0 }

.addcontainer {
    background: #FFF;
    border: 1px solid #CCCCCC;
    max-height: 350px;
    overflow: auto;
    margin: -30px 9px 0;
}

#searchField, #searchField_analogs {
    box-shadow: none !important;
    width: 100% !important;
}

#addRelatedModal .modal-dialog { width: 930px }

#addRelatedModal .modal-body { padding: 10px 20px }

.addlist {
    padding: 0;
    margin: 0;
    list-style: none;
}

ol.addlist li {
    background: #FFF;
    padding: 3px;
    cursor: pointer;
    border-bottom: 1px solid #E1E1E1;
    min-height: 36px;
    display: table;
    clear: both;
    width: 100%;
}

ol.addlist li:last-child { border-bottom: none }

ol.addlist li.selected { background: #f5f5f5 }

.apimage {
    width: 30px;
    height: 30px;
    margin: 0 7px 0 3px;
    display: block;
    float: left;
    text-align: center;
}

.apstatus {
    width: 14px;
    height: 14px;
    margin: 0 7px 0 3px;
    display: block;
    float: right;
}

.apstatus i { opacity: 0.4 }

.apstatus i.fa-times-circle { color: #900 }

.apstatus i.fa-check { color: #093 }

.apname {
    display: block !important;
    font-size: 13px;
    line-height: 1.3;
    padding: 0 40px 0 0;
    margin-left: 42px;
}

.lampoff .apname, .lampoff .apimage { opacity: 0.5 }

.apsky {
    /* Артикул в списке добавления сопутсвующих товаров */
    font-size: 11px;
    display: block !important;
    line-height: 14px;
    color: #c3c3c3;
    display: block;
    float: left;
    width: 100%;
}

.apcode {
    /* Артикул в списке добавления сопутсвующих товаров */
    font-size: 11px;
    display: block !important;
    line-height: 14px;
    color: #c3c3c3;
    display: block;
    float: left;
    width: 100%;
}

.noresults {
    display: block;
    padding: 5px;
    color: #333;
}

/* Выпадающий списка сопутствующих товаров конец */

.sendsms {
    float: right;
    margin-top: -2px;
}

.mapyandex {
    display: block;
    float: right;
    text-decoration: underline;
    color: #333;
    opacity: 0.5;
    padding:0;
}

.mapyandex:focus {
    box-shadow:none;
    }

.mapyandex:hover { opacity: 1 }

.opacity05 { opacity: 0.5 }

#order-detail-view .form-group { margin-bottom: 7px }

.nopadding { padding: 0 }

.panel-title .btn {
    float: right;
    margin: -3px -8px 0 0;
    text-decoration: none;
    color: #333;
}

.panel-title .btn span {
    border-bottom: 1px dashed #333;
    opacity: 0.7;
}

.panel-title .btn span:hover {
    border-bottom: none;
    opacity: 1;
}

#order-note-view { font-size: 12px }

#order-note-edit textarea {
    padding: 4px;
    font-size: 12px;
}

.tags_values {
    display: table;
    width: 100%;
}

.tags_values:before { clear: both }

.tags_values:after { clear: both }


.favorite-tag {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 18px;
}

.favorite-tag.on { background: url(../img/icons/favorite-on.png) no-repeat top center }

.favorite-tag.off { background: url(../img/icons/favorite-off.png) no-repeat top center }


.text-xs {
    font-size: 12px;
    opacity: 0.6;
}

.favorite-tag {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 18px;
}

.favorite-tag.on { background: url(../img/icons/favorite-on.png) no-repeat top center }

.favorite-tag.off { background: url(../img/icons/favorite-off.png) no-repeat top center }

.product-price-order .form-control {
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#notice {
    /*Блок уведомлений справа снизу*/
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100;
    padding: 10px 10px 0 10px;
    width: 30%;
    min-width: 150px;
}

/*Стиль списка товаров в заказе в списке заказов начало*/

.order-list { padding: 0 }

.order-list li {
    list-style: none;
    width: 100%;
    display: table;
    padding: 5px;
    border-bottom: 1px solid #E6E6E6;
}

.order-list li:nth-child(2n+1) {
    background: #fcfcfc;
    /* Именно для меню не будем использовать */
}

.order-list li:last-child { border-bottom: none }

.order-list li:after { clear: both }

.order-list-image {
    display: block;
    float: left;
    width: 40px;
    margin-right: 5px;
    height: 40px;
}

.order-list-productname {
    width: 400px;
    display: block;
    float: left;
}

.order-list-right {
    display: block;
    float: right;
    width: 160px;
}

.order-list-count {
    width: 50px;
    display: block;
    float: left;
    margin-right: 5px;
    text-align: right;
}

.order-list-price {
    width: 100px;
    display: block;
    float: left;
    text-align: right;
}

/*Стиль списка товаров в заказе в списке заказов конец*/

.status {
    width: 60px;
    padding: 10px 0 4px 0;
    display: block;
    float: right;
    font-size: 14px;
    line-height: 1;
}

select.orderstatus {
    width: 150px;
    display: block;
    float: right;
    margin-left: 0;
    padding: 5px 6px;
    height: 35px;
    border-radius: 4px;
}

.expandvariants {
    text-align: right;
    display: block;
    width:60%;
    float:right;
}

.expandvariants .btn {
    text-decoration: none;
    color: #888;
}

.expandvariants .btn:last-child { padding-right: 0 }

.expandvariants .btn span { border-bottom: 1px dotted }

.expandvariants .btn:hover span { border-bottom: none }

.order-sub-price {
    display: inline-block;
    font-size: 18px;
    font-weight: normal;
    width: 130px;
}

/* Стиль парсера яндекс маркета начало */

.alert-info { color: #333 }

.alert-info li { margin-bottom: 20px }

.alert-info li:last-child { margin-bottom: 0 }

.twocolumns {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    margin-bottom: 20px;
    padding-left: 0;
    background: #FBFBFB;
    padding: 9px;
}

.twocolumns .checkbox {
    margin-top: 0;
    margin-bottom: 5px;
}

.yandexmarket { margin-top: 20px }

/* Стиль парсера яндекс маркета начало */

.statusbar {
    float: right;
    display: inline-block;
    width: 215px;
    text-align: right;
    margin-top: 25px;
}

.statusbar-text {
    display: block;
    float: right;
    padding: 7px 9px 0 0;
}

.statusbar .btn-group { float: right }

.btn-default4 {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-default4.on.active {
    background-color: #5CB85C;
    border-color: #4CAE4C;
    color: #FFFFFF;
}

.btn-default4.off.active {
    background-color: #929292;
    border-color: #929292;
    color: #FFF;
}



.btn-default4:hover { opacity: 1 }

.input-bold { font-weight: bold }

.taright { text-align: right }

.mt15 { margin-top: 15px }

.mt20 { margin-top: 20px }

.mt25 { margin-top: 25px }

.pagination { margin: 0 0 15px 0 }

.itemslist { margin: 0 0 15px 0 }

.pager-block {
    display: table;
    clear: both;
    width: 100%;
}

@media (min-width: 992px) { 
    .pager-block-left { width: 490px }

    .pager-block-right { width: 120px }
}

@media (min-width: 1200px) { 
    
}

.pager-block-left {
    display: block;
    float: left;
}

.pager-block-right {
    display: block;
    float: right;
}

.pagination-all {
    float: right;
    /*Стиль кнопки показать все */
}

/*Стиль списка материалов начало */

.com-articles .dd3-content { padding: 8px 170px 8px 64px }

.materials {
    display: block;
    float: left;
    padding-left: 23px;
    color: #333;
    background: url(../img/materials.png) no-repeat 3px 3px transparent;
    opacity: 0.5;
    margin-top: -1px;
    margin-right: 10px;
    border: none;
}

.materials a {
    text-decoration: none;
    color: #333;
}

.materials a:hover { text-decoration: none }

.del-menu-item {
    color: #333;
    opacity: 0.5;
    float: right;
}

.com-materials-menu .dd3-content {
    padding-left: 54px;
    padding-right: 210px;
}

.com-materials-menu .dd3-item > button { margin-left: 52px }

.com-materials-menu .checkb { left: 30px !important }

.com-materials-menu .controllinks .label {
    background: #ebebeb;
    color: #707070;
    font-weight: normal;
}

.com-materials-menu .controllinks .fa-home {
    float: right;
    display: block;
    margin: 3px 5px 0 0;
    width: 16px;
    color: #999;
}

.material-group {
    position: absolute;
    right: 55px;
    width: 110px;
    top: 5px;
    text-align: right;
    }

.material-group    .label-default {
    background-color: #f0f0f0;
    font-size: 11px;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
}

.material-addons .btn { /* Кнопки после текста материала */
    margin-right:10px;
    }

.material-addons button i {
    opacity:0.8;
}

/*Стиль списка материалов конец */

/* Меню материалов начало */

.com-menus-materials .dd3-content { padding: 8px 360px 8px 10px }

/* Меню материалов конец */

/* Виджеты на главной начало */

.main-orders table { margin-bottom: 0 }

.main-orders table tr:first-child td, .main-views table tr:first-child th { border-top: none }

.topbtn .panel-heading h3 { display: inline-block }

.topbtn .panel-heading .btn { float: right }

.main-views th a { color: #666 }

a.main-image {
    display: block;
    width: 35px;
    text-align: center;
}

.main-image img {
    max-height: 35px;
    max-width: 35px;
}

/* Виджеты на главной конец */

/* Модули начало */

.module {
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    padding: 6px;
    display: table;
    clear: both;
    width: 100%;
    margin-bottom: 20px;
}

.module-image {
    display: table;
    width: 48px;
    height: 48px;
}

.module-left {
    display: block;
    position: absolute;
    width: 48px;
}

.module-right {
    display: block;
    margin-left: 56px;
}

.module-name {
    font-size: 18px;
    display: block;
    float: left;
    width: 80%;
}

.module-onoff {
    display: block;
    float: right;
    width: 20%;
    text-align: right;
}

.module-version { color: #999 }

.module-desc {
    display: table;
    clear: both;
}

/* Модули конец */

/* Уведомления и контакт центр начало */

.notifications {
    width: 350px;
    padding: 10px;
}

.notifications li {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #DDD;
    display: table;
    clear: both;
    width: 100%;
}

.notifications li a {
    display: table;
    clear: both;
    padding: 0 !important;
    margin: 0 !important;
}

.notifications li:last-child {
    border-bottom: none;
    margin-bottom: -4px;
    padding-bottom: 0;
}

.notifications li a { text-decoration: underline }

.notifications li a:hover { background: none }

.notifications .col-md-4 { padding-left: 0 }

/* Уведомления и контакт центр конец */

/* Описание знака рубля - начало */

@font-face {
    font-family: 'ALSRubl-Arial';
    src: url('../fonts/alsrubl-arial-regular.eot');
    src: url('../fonts/alsrubl-arial-regular.eot?#iefix') format('embedded-opentype'),url('../fonts/alsrubl-arial-regular.woff') format('woff'), url('../fonts/alsrubl-arial-regular.ttf') format('truetype'), url('../fonts/alsrubl-arial-regular.svg#ALSRublArialRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ALSRubl-Arial';
    src: url('../fonts/alsrubl-arial-italic.eot');
    src: url('../fonts/alsrubl-arial-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/alsrubl-arial-italic.woff') format('woff'), url('../fonts/alsrubl-arial-italic.ttf') format('truetype'), url('../fonts/alsrubl-arial-italic.svg#ALSRublArialItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'ALSRubl-Arial';
    src: url('../fonts/alsrubl-arial-bold.eot');
    src: url('../fonts/alsrubl-arial-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/alsrubl-arial-bold.woff') format('woff'), url('../fonts/alsrubl-arial-bold.ttf') format('truetype'), url('../fonts/alsrubl-arial-bold.svg#ALSRublArialBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ALSRubl-Arial';
    src: url('../fonts/alsrubl-arial-bolditalic.eot');
    src: url('../fonts/alsrubl-arial-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/alsrubl-arial-bolditalic.woff') format('woff'), url('../fonts/alsrubl-arial-bolditalic.ttf') format('truetype'), url('../fonts/alsrubl-arial-bolditalic.svg#ALSRublArialBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

/*
  ХТМЛ: 100 <span class="b-rub">Р</span>
  Если вам нужен рубль в нескольких шрифтах, используйте .b-rub_arial, вместо .b-rub
*/

.b-rub, .b-rub_arial {
    font-family: 'ALSRubl-Arial', Arial, sans-serif;
    line-height: normal;
}

/* Описание знака рубля - конец */

/* Описание таблицы поиска начало */

.searchtable { margin-bottom: 0 }

.searchtable tr td, .searchtable tr th {
    font-size: 12px;
    font-weight: normal;
}

.searchtable tr td {
    border-bottom: 1px solid #DDDDDD;
    border-top: none;
}

.search-id { width: 50px }

.search-word { width: auto }

.search-count {
    width: 130px;
    text-align: right;
}

.search-date {
    width: 140px;
    text-align: right;
}

.search-result {
    width: 120px;
    text-align: right;
}

/* Описание таблицы поиска конец */

/* SMS начало */

.notify-onoff {
    display: block;
    float: right;
    text-align: right;
}

.notify-onoff .btn { min-width: 24px }

.notifybox {
    display: table;
    width: 100%;
    margin-bottom: 15px;
}

/* SMS конец */

/* Email начало */

.email-onoff {
    display: block;
    float: right;
    width: 30%;
    text-align: right;
}

/* Email конец */

/* Блок автосвойств начало */

#s2id_autotags { }

#s2id_autotags ul {
    background: #FFF;
    padding: 2px 0;
    margin: 0;
    border-radius: 4px;
}

/* Блок автосвойств конец */

/* CKEditor начало */

.cke_chrome {
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.cke_inner { }

/* CKEditor конец */

/* Выбор отображения свойства начало */

.taggroupselect {
    display: table;
    width: 100%;
    padding: 0 0 4px 0;
    margin-bottom: 15px;
    clear: both;
}

.taggroupselect-inline {
    display: block;
    margin-right: -15px;
    padding: 0 0 4px 0;
}

.taggroupselect-header { font-size: 18px }

.taggroupselect .radio { font-size: 13px }

.taggroup-method {
    background: #FFF;
    border: 1px solid #f1f1f1;
    border-radius: 4px;
    margin: 0 15px 15px 0;
    padding: 0px 5px 0 8px;
    width: 195px;
    display: block;
    float: left;
    -webkit-transition: background 0.2s ease;
    -moz-transition: background 0.2s ease;
    transition: background 0.2s ease;
}

.taggroup-method:hover, .taggroup-method.active { background: #f5f5f5 }

.taggroup-method .radio { margin: 5px 0 }

.taggroup-method .radio input { margin-top: 3px }

.taggroup-image {
    text-align: center;
    height: 100px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 48px;
    vertical-align: central;
}

.taggroup-header {
    font-weight: bold;
    display: block;
    margin: 5px 0;
}

.taggroup-description {
    line-height: 1.30;
    display: block;
    min-height: 70px;
}

/* Выбор отображения свойства конец */

/* Слайдшоу начало */

.slides .dd3-content {
    padding-left: 34px;
    padding-right: 60px;
}

.slide {
    max-width: 523px;
}

@media (min-width: 992px) { 
    .slide {
    max-width: 523px;
    }
}

@media (min-width: 1200px) { 
    .slide {
    max-width: 656px;
    }
}

/* Слайдшоу конец */

/* Бейджи начало */

.com-badgeslist .dd3-content { padding: 8px 10px 8px 8px }

/* Бейджи конец */

/* Валюты начало */

.kurs {
    display: block;
    float: right;
    width: 100px;
}

.ravno {
    font-size: 25px;
    padding-right: 5px;
    width: 82px !important;
}

.kurs-left { padding-right: 0 }

.kurs-right { padding-left: 0 }

.flag-help {
    background: url(../img/icons/flag-on.png) no-repeat 0px 3px;
    padding-left: 22px;
}

.favorite-help {
    background: url(../img/icons/favorite-on.png) no-repeat 0px 3px;
    : ;
    padding-left: 22px;
}

/* Валюты конец */

/* Баннеры начало */

.widecode {
    /* Стиль блока вставки кода баннера на сайт */
    display: block;
    font-size: 16px;
    padding: 4px 8px;
    border-radius: 4px;
}

.com-banners .dd3-content { padding: 8px 10px 8px 32px }

.com-banners { }

/* Баннеры конец */

/* Свойства начало */

.com-properties .type {
    display: block;
    position: absolute;
    right: 145px;
    top: 8px;
    width: 145px !important;
    width: auto;
    margin-right: 10px;
    text-align: left;
}

.com-properties .label-default {
    background-color: #f0f0f0;
    font-size: 11px;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
}

.com-properties .dd3-content { 
    padding: 8px 305px 8px 53px;
    }

.com-properties    .dd3-item input.checkb { left: 30px }

.flag-item {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 8px;
    margin-top:2px;
}

.flag-on { background: url(../img/icons/flag-on.png) no-repeat top center }

.flag-off { background: url(../img/icons/flag-off.png) no-repeat top center }


.list-item {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 12px;
    margin-top:2px;
}

.list-item-on { background: url(../img/icons/list.png) no-repeat top left }

.list-item-off { 
    background: url(../img/icons/list.png) no-repeat top right;
    opacity:0.4;
 }
 
 .market-item {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 12px;
    margin-top:2px;
}

 .market-on { background: url(../img/icons/market.png) no-repeat top left; }

 .market-off { 
    background: url(../img/icons/market.png) no-repeat top right;
 }

/* Свойства конец */

/* Заказ звонка начало */

.com-calls .dd3-content {
    padding: 8px 4px 8px 27px;
    height: auto;
}

.com-calls .dd3-item input.checkb { left: 8px }

.com-calls .time {
    display: block;
    float: left;
    font-size: 12px;
    margin-top: 1px;
    width: 140px;
    color: #666;
}

.com-calls .dd3-content a { color: #2a6496 }

.com-calls code { opacity: 0.6 }

.call-user {
    display: inline-block;
    margin-right: 25px;
    min-width: 180px;
}

.callblock {
    display: block;
    font-size: 16px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.call-user i {
    color: #666;
    opacity: 0.8;
}

.com-calls .callbody {
    min-width: 600px;
    padding-left: 130px;
    padding-right: 26px;
}

.com-calls .orderbody:after { clear: both }

.com-calls .callbody, .com-calls .time {
    float: left;
    position: absolute;
    left: 30px;
}

.call-numder {
    display: inline-block;
    margin-right: 25px;
}

.call-notes {
    /* примечания */
    font-size: 14px;
    margin: 8px 6px 0 0;
    border-radius: 4px;
    line-height: 1.45;
}

.call-notes table tr td {
    padding:1px 25px 1px 0;
    }

.callback-onoff {
    display: block;
    float: right;
    text-align: right;
}

.com-calls .delete-item {
    color: #c0c0c0 !important;
    opacity:1;
    display: block;
    float: right;
    margin: -1px 0 0 10px;
    line-height: 22px;
    height: 22px;
}

.com-calls .delete-item:hover {
    color:#888 !important;
    opacity:1;
}

.com-calls .notmoderated .dd3-content {
    background: #f1f7ed !important;
    }

/* Заказ звонка конец */

/* Список шаблонов дизайна начало */

.template-list {
    margin: 0;
    padding: 0;
}

/* Список шаблонов дизайна конец */

/* Статистика начало */

.panel-buttons {
    display: table;
    float: right;
}

.panel-buttons .btn { float: left !important }

/* Статистика конец */

/* Шаблоны дизайна начало */

ul.tamplates-list {
    padding: 0;
    margin-bottom: 0;
}

ul.tamplates-list li {
    list-style: none;
    display: table;
    clear: both;
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    background: #fbfbfb;
    margin-bottom: 15px;
}

ul.tamplates-list li:last-child { margin-bottom: 0 }

.template-priview {
    border-radius: 2px;
    border: 1px solid #ddd;
    min-width: 288px;
    height: 235px;
    box-sizing: border-box;
}

.templante-name {
    font-size: 24px;
    line-height: 1.45;
    margin-bottom: 5px;
}

.template-version {
    font-size: 12px;
    color: #727272;
    margin-bottom: 8px;
}

.template-description { margin-bottom: 10px }

.template-autor { margin-bottom: 10px }

/* Шаблоны дизайна конец */

/* Таблица последние заказы на главной начало */

.lastorders { }

.lastorders tr td { padding: 8px 8px 8px 0 !important }

.lastorders tr td:last-child {
    padding-right: 0 !important;
    text-align: right;
}

.lastorders-link a { text-decoration: underline }

.lastorders-link a:hover { text-decoration: none }

.lastorders-time { font-size: 12px }

.lastorders a { text-decoration: underline }

.lastorders a:hover { text-decoration: none }

/* Таблица последние заказы на главной конец */

/* Группы товаров на главной начало */

/* Группы товаров на главной конец */

/* Отзывы к товарам начало */

ol.reviews-list-products {
    list-style: none;
    padding: 0;
    margin-bottom: 15px;
}

ol.reviews-list-products li .checkb {
    display:inline-block;
    margin:0 5px 0 0;
    position:relative;
    top:2px;
    left:2px;
    }

ol.reviews-list-products li.reviews-li {
    display: table;
    clear: both;
    width: 100%;
    padding: 8px 8px 14px 8px;
    border-bottom: 1px dashed #E3E3E3;
    background: #fcfcfc;
    margin-bottom: 15px;
}

ol.reviews-list-products li.reviews-li.notmoderated { background: #f1f7ed }

ol.reviews-list-products li.reviews-li.notmoderated .review-title { background: #e0f0d8 }

.reviews-list-image {
    display: block;
    width: 56px;
    text-align: center;
    line-height: 52px;
    height: 56px;
    padding: 2px;
    background: #FFF;
    border-radius: 2px;
    margin-bottom: 2px;
}

.reviews-list-image img { margin-top: -2px }

.review-header {
    display: block;
    font-size: 12px;
}

.reviews-list-productname a {
    color: #333;
    text-decoration: underline;
}

.reviews-list-productname a:hover { text-decoration: none }

.reviews-list-body {
    display: block;
    float: left;
}

@media (min-width: 992px) { 
    .reviews-list-body { width: 600px }

    .review-body-text, .review-buttons { width: 408px }

    .review-verdict-text { width: 388px }
}

@media (min-width: 1200px) { 
    .reviews-list-body { width: 734px }

    .review-body-text, .review-buttons { width: 540px }

    .review-verdict-text { width: 520px }
}

.review-id {
    position: relative;
    min-height: 32px;
}

.review-id a {
    font-size: 16px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
}

.review-id a:hover { text-decoration: none }

.review-complain {
    display: table;
    line-height: 18px;
    color: #ff2f2f;
    font-weight: bold;
    margin-top: 4px;
}

.review-title {
    min-height: 32px;
    background: #f2f2f2;
    border-radius: 4px;
    padding: 4px 8px;
    width: 180px;
    box-sizing: border-box;
    margin-right: 8px;
    display: block;
    float: left;
    font-size: 13px;
}

.review-autor {
    font-size: 14px;
    display: block;
}

.review-date {
    display: block;
    margin-top: 5px;
}

.review-user-count { display: block }

.review-title-box {
    display: table;
    clear: both;
    width: 100%;
    margin-bottom: 4px;
}

.review-body-text {
    display: block;
    float: right;
    font-size: 13px;
}

.last-review-topline {
    font-size: 13px;
    line-height: 15px;
    vertical-align: top;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.review-body {
    display: table;
    clear: both;
    width: 100%;
}

.review-verdict-type {
    margin-bottom: 8px;
    display: table;
    clear: both;
    width: 100%;
}

.review-verdict { }

.review-verdict-header {
    display: block;
    float: left;
    width: 20px;
    vertical-align: top;
    line-height: 19px;
    font-size: 14px;
}

.review-verdict-text {
    display: block;
    float: right;
}

.review-verdict-header .fa-plus-circle { color: #1f8321 }

.review-verdict-header .fa-minus-circle { color: #e94932 }

.review-verdict-header .fa-pencil { color: #9c9c9c }

.review-verdict-text .review-images {
    margin: 8px 0 0 0;
    padding: 0;
}

.review-images li {
    list-style: none;
    display: inline-block;
}

.review-images li a {
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
    display: block;
    height: 68px;
    width: 68px;
    line-height: 62px;
    padding: 2px;
    border-radius: 2px;
    margin: 0 0 4px 0;
    text-align: center;
    vertical-align: middle;
}

.review-images li a:hover { border: 1px solid #CCC }

.review-images li a img {
    max-width: 62px;
    max-height: 62px;
    margin-top: -2px;
}

.usergrade {
    font-size: 13px;
    display: block;
    text-align: right;
    color: #999;
}

.usergrade-yes {
    color: #239600;
    text-decoration: underline;
    cursor: pointer;
}

.usergrade-no {
    color: #ff2f2f;
    cursor: pointer;
    text-decoration: underline;
}

.usergrade-yes:hover, .usergrade-no:hover { text-decoration: none }

.review-controls {
    display: block;
    float: right;
}

.review-controls .delete-item {
    color: #c0c0c0;
    display: block;
    float: right;
    margin: -1px 0 0 10px;
    line-height: 22px;
    height: 22px;
}

.review-controls .delete-item:hover { color: #474747 }

.review-controls .delete-item i { }

.review-onoff {
    display: block;
    float: right;
    text-align: right;
}

.review .btn { min-width: 24px }

.irecommend {
    color: #1f8321;
    font-size: 12px;
}

.irecommend i {
    font-size: 14px;
    width: 20px;
    display: inline-block;
}

#edit-user {
    padding:0 5px !important;
    line-height:14px;
    }

/* Отзывы к товарам конец */

/* Звезды начало */

.raiting {
    display: inline-block;
    width: 79px;
    height: 15px;
    background: url(../img/stars/stars-mini.png) no-repeat;
}

.rate10 { background-position: 0px 0px }

.rate15 { background-position: 0px -15px }

.rate20 { background-position: 0px -30px }

.rate25 { background-position: 0px -45px }

.rate30 { background-position: 0px -60px }

.rate35 { background-position: 0px -75px }

.rate40 { background-position: 0px -90px }

.rate45 { background-position: 0px -105px }

.rate50 { background-position: 0px -120px }

.rating-micro {
    display: inline-block;
    width: 57px;
    height: 11px;
    background: url(../img/stars/stars-micro.png) no-repeat;
}

.micro-rate10 { background-position: 0px 0px }

.micro-rate15 { background-position: 0px -12px }

.micro-rate20 { background-position: 0px -24px }

.micro-rate25 { background-position: 0px -36px }

.micro-rate30 { background-position: 0px -48px }

.micro-rate35 { background-position: 0px -60px }

.micro-rate40 { background-position: 0px -72px }

.micro-rate45 { background-position: 0px -84px }

.micro-rate50 { background-position: 0px -96px }

/* Звезды конец*/

/* Отзыв начало */

.onereview-rate {
    background: #f6f5f3;
    padding: 10px;
    margin-bottom: 10px;
    color: #909090;
}

.usergrade-input { text-align: center }

label .usergrade-no, label .usergrade-yes { cursor: default }

.reports .alert {
    color: #5e4b29;
}

.onereview-product {
    display: table;
    clear: both;
    margin-left: 68px;
    margin-bottom: 10px;
}

.onereview-prod-image {
    display: block;
    position: absolute;
    left: 15px;
}

.onereview-prod-image a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    display: block;
    height: 58px;
    width: 58px;
    line-height: 52px;
    padding: 2px;
    border-radius: 2px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

.onereview-prod-image a img { margin-top: -2px }

.onereview-prod-title {
    display: block;
    line-height: 1.4;
    font-size: 12px;
}

.onereview-prod-price { display: block }

.onereview-prod-availability { display: block }

.onereview-prod-status {
    font-size: 12px;
    opacity: 0.7;
}

.onereview-prod-status i { font-size: 14px }

.onereview-prod-status i.fa-times-circle { color: #900 }

.onereview-prod-status i.fa-check { color: #093 }

/* Отзыв конец */

/* Водяные знаки начало */

.watermark-bg {
    width: 100%;
    height: 150px;
    border-radius: 4px;
    margin: 15px 0;
}

.watermark-image-big {
    border-color: #CCC;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    display: block;
}

.watermark-image-small {
    border-color: #CCC;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
    padding: 2px;
    text-align: center;
    display: inline-block;
}

/* Водяные знаки конец */

/* Рейтинг начало */

#rating { display: block }

#buy #rating {
    display: table;
    clear: both;
    margin-top: 10px;
}

div.vote-wrap { overflow: hidden }

div.vote-block { position: relative }

div.vote-hover {
    float: left;
    padding: 0 !important;
    cursor: pointer;
}

div.vote-stars {
    position: absolute;
    left: 0;
    top: 0;
}

div.vote-active {
    position: absolute;
    left: 0;
    top: 0;
}

div.vote-result {
    color: #ccc;
    width: 100%;
    box-sizing: border-box;
    padding-left: 110px;
}

div.vote-success {
    clear: both;
    color: #ccc;
    font-size: 14px;
    margin: 10px 0 0 10px;
}

.vote-revote {
    display: inline-block;
    margin-left: 7px;
}

.vote-revote a {
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.vote-revote a:hover { border-bottom: none }

.agregate-raiting {
    position: relative;
    padding: 8px 8px;
    border-radius: 4px;
    font-size: 12px;
    background: #f6f5f3!important;
    display: table;
    width: 100%;
}

.agregate-left {
    width: 30%;
    margin-left: 5px;
    box-sizing: border-box;
    float: left;
    display: block;
}

.agregate-right {
    width: 60%;
    float: right;
    display: block;
}

.agregate-left .raiting {
    margin: 5px 0 0 -5px;
    display: inline-block;
}

.raiting-count {
    display: inline-block;
    line-height: 1.5;
    vertical-align: top;
}

.write-review { float: right }

.agregate-right #raiting { margin-top: 0 }

/* Рейтинг конец */

/* Выбор способа доставки и оплаты начало */
.select-onoff {
    display:block;
    position:absolute;
    left:15px;
    top:10px;
    }
.onoff .btn {
    width:24px;
    }

.list-group-select {
    padding-left:75px;
    color:#333;
    }

.list-group-item-hidden {
    color:#9E9E9E;
}


/* Выбор способа доставки и оплаты конец */

/* Модуль смс уведомлений начало */

.sms-balance-add { float: right }

.smsinfo {
    background: #fbfbfb;
    border-radius: 4px;
    margin-bottom: 15px;
    padding: 10px;
}

.smsinfo legend {
    font-size: 22px;
    border-bottom: none;
    margin-bottom: 5px;
}

.smsminiinfo { font-size: 12px }

.sms-status {
    text-align: right;
    width: 80px !important;
}

.sms-message { min-width: 264px }

.sms-table { font-size: 12px }

.add-temlate-sms i {
    font-size: 14px;
    line-height: 14px;
}

/* Модуль смс уведомлений конец */

/* Модификаторы цены начало */
.com-modificators .itemcount {
    width:160px;
    }

.label-modifier {
    display:block;
    }

.label-modifier span {
    font-size: 11px;
    padding: 2px 4px;
    font-size: 90%;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-left:11px;
}

.list-group-item.active .label-modifier span {
    color:#FFF;
    background:#60a1d9;
    }

/* Модификаторы цены конец */

/* Массовые операции - начало */

.massoperations select { width: 180px }

.massoperations input { width: 180px }

#mass_operation_set_stock, #mass_operation_set_discount, #mass_operation_set_fix_discount { 
    width: 180px;
    display: inline-block;
}

#mass_operation_set_stock  input, #mass_operation_set_discount input {  /* Инпут ввода количества при массовом изменении количества */
    text-align: right;
    width:180px;
    }

#mass_operation_move_to_category, #mass_operation_add_category, #mass_operation_set_brand, #mass_operation_add_tag_group, #mass_operation_remove_tag_group, #mass_operation_change_price {
    width: 180px;
    }

#mass_operation_add_tag_value, #mass_operation_remove_tag_value {
    margin:5px 0;
    }

/* Массовые операции - конец */

/* Список способов оплаты и доставки начало */


.com-payments .typeof {
    display: block;
    position: absolute;
    right: 58px;
    top: 8px;
    padding-right: 2px;
    width: 145px !important;
    text-align: right;

}

.typeof .label {
    background-color: #f0f0f0;
    font-size: 13px;
    padding: 3px 5px;
    font-weight: normal;
    color: #555;
    }

.com-payments .dd3-content {
    padding: 8px 230px 8px 30px;
    height: auto;
    }

.com-shipping .typeof {
    display: block;
    position: absolute;
    right: 58px;
    top: 8px;
    padding-right: 2px;
    width: 265px !important;
    text-align: right;

}


.com-shipping .dd3-content {
    padding: 8px 325px 8px 30px;
    height: auto;
    }

/* Список способов оплаты и доставки конец */


/* Флаги состояний начало */
.flag1-on {
    background: url(../img/flags/on1.png) no-repeat top center;
    width:16px;
    height:16px;
    display:inline-block;
    }

.flag1-off {
    background: url(../img/flags/off1.png) no-repeat top center;
    width:16px;
    height:16px;
    display:inline-block;
    }

.flag2-on {
    background: url(../img/flags/on2.png) no-repeat top center;
    width:16px;
    height:16px;
    display:inline-block;
    }

.flag2-off {
    background: url(../img/flags/off2.png) no-repeat top center;
    width:16px;
    height:16px;
    display:inline-block;
    }

.flag3-on {
    background: url(../img/flags/on3.png) no-repeat top center;
    width:16px;
    height:16px;
    display:inline-block;
    }

.flag3-off {
    background: url(../img/flags/off3.png) no-repeat top center;
    width:16px;
    height:16px;
    display:inline-block;
    }


/* Флаги состояний конец */

/* Блочная верстка начало */
.boxes {
    display:flex;
    flex-direction:row;
    margin:0 -15px;
    }
.box-left-8 {
    border-right:1px solid #f5f5f5;
    box-sizing:border-box;
    flex-basis:500px;
    }

.box-left-inside {
    padding:15px;
    box-sizing:border-box;
    }

.box-right-4 {
    flex-direction:column;
    align-items:stretch;
    }

.box-header {
    font-size:14px;
    text-transform:uppercase;
    margin-bottom:20px;
    }

.box-main-header {
    font-size:21px;
    margin-bottom:20px;
    }

#products-spinner {
    font-size: 14px;
    
}


@media (min-width: 992px) { 
    .box-left-8 {
    flex-basis:647px;
    }
    .box-right-4 {
    flex-basis:323px;
    }
}

@media (min-width: 1200px) { 
    .box-left-8 {
    flex-basis:780px;
    }
    .box-right-4 {
    flex-basis:390px;
    }
}



/* Блочная верстка конец */




/* Общее начало */

.w100 { width: 100% }

.w50 { width: 50% }

.w200px {
    width:200px !important;}

.nolink {
    text-decoration: none;
    color: #333;
}

.panel { box-shadow: none }

.block { display: block }

.tright { text-align: right }

.mainbox {
    padding: 0;
    background: #FFF;
}

.topmenu {
    margin:0 -15px;
    padding:0 15px;
    border-bottom:1px solid #f5f5f5;
}

.whitewell { background: #FFF }

.noboldth tr th { font-weight: normal }

.floatright { float: right }

.sms-onoff {
    display: block;
    float: right;
    width: 30%;
    text-align: right;
}

.noinline {
    display: table;
    width: 100%;
    clear: both;
}

.well code { color: #434343 }

.tdu { text-decoration: underline }

.tdu:hover { text-decoration: none }

.delete-property {
    color: #333;
    opacity: 0.1;
    position: relative;
}

#taggroups .col-md-3:hover .delete-property {
    display: inline-block;
    opacity: 0.6;
}

.mb10 { margin-bottom: 10px }

.input-group-addon a {
    text-decoration: none;
    color: #434343;
}

.dottedlink {
    text-decoration: none;
    border-bottom: 1px dotted;
}

.dottedlink:hover {
    text-decoration: none;
    border-bottom: none;
}

.delivery-map { margin: 15px 15px 0 15px }

.leftalign { text-align: left }

.link { text-decoration: underline }

.link:hover { text-decoration: none }

.separator {
    display: table;
    width: 100%;
    clear: both;
    margin-top: 20px;
}

.nomargin { margin: 0 }

.selectheight { line-height: 34px }

code {
    font-family: Arial, sans-serif, Helvetica;
    font-size: 0.85em;
}

.btn-delete {
    float:right;
    border:none;
    }

.input-bold {
    font-size:18px !important;
    font-weight:normal;
    }

.block-header {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: inherit;
    color: #333333;
    }

.mini-tabs {
    border-bottom:none;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 18px;
    color: #9a9a9a;
    border-top: 3px solid #f6f6f6;
    position: relative;
    }

.mini-tabs > li.active > a,
.mini-tabs > li.active > a:hover,
.mini-tabs > li.active > a:focus {
    background: #f6f6f6;
    border:none;
    }

.mini-tabs  > li > a {
    margin:0;
    line-height: 1.42857143;
    border:none;
    border-radius: 0;
    padding: 7px 10px;
}

.mini-tabs  > li > a span {
    border-bottom:1px dotted;
    }

.mini-tabs > li.active > a span {
    border-bottom:none;
    }

.mini-tabs > li.active > a:hover {
    background-color: #f6f6f6 !important;
    }

.mini-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.opacity03 {
    opacity:0.3;
    }

.opacity03:hover {
    opacity:1;
    }

.btn-refresh { /* Кнопка обновления чего-либо */
    border:none;
    padding: 3px 8px;
    font-size:18px;
    float:right;
    color:#787878;
    }


/* Общее конец */

/* Новая верстка всех списков */
/* Спиоск товаров */
.product-list-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    border-bottom: 1px solid #f5f5f5;
    padding: 4px;
    align-items:flex-start;
    justify-content: space-between;
}

.rightside {
    float: right;
    display: flex;
}

.product-list-item-content {
    display: flex;
    flex-basis: 100%;
    
}


.favorite-on {
    background: url(../img/icons/favorite-on.png) no-repeat top center;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 8px;
}

.favorite-off {
    background: url(../img/icons/favorite-off.png) no-repeat top center;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 8px;
}

.favorite-brand {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 18px;
}

.favorite-brand.on { background: url(../img/icons/favorite-on.png) no-repeat top center }

.favorite-brand.off { background: url(../img/icons/favorite-off.png) no-repeat top center }

.light-on {
    background: url(../img/icons/light_on.png) no-repeat top center;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.9;
    margin-right: 8px;
    margin-top: 1px;
}

.light-off {
    background: url(../img/icons/light_off.png) no-repeat top center;
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    opacity: 0.6;
    margin-right: 8px;
}

.delete-item {
    display: block;
    float: right;
    cursor: pointer;
    width: 16px;
    height: 16px;
}


.products-categories  li:hover {
    cursor: pointer;        
}

.products-categories  li {
    margin: 2px 0;
}

.products-categories  li .active {
    font-weight:bold;    
}

.products-categories-item {
    padding-left: 20px !important;
    font-size: 14px;
    margin: 4px 0 !important;
}

.products-categories-item i {
    position: absolute;
    margin: 4px 0 0 -20px;
    font-size: 14px;
    display: block;
    color: #888;
    float: left;
    cursor: pointer !important;
}

.products-categories-item a {
    color: #333;
    display: block;
    text-decoration: none;
    padding-right: 30px;
}

.products-categories-item span {
    color: #c3c3c3;
    display: block;
    font-size: 12px;
    position: absolute;
    right: 16px;
}

.product-category-name:hover {
    text-decoration: underline;    
}

.products-categories-item a.active { font-weight: bold }

.products-categories-item a:hover { text-decoration: underline }

