<legend>Бейджи</legend>

<div id="sortview">
    <div class="itemcount">Бейджей: {{items_count}}</div>
    <ul class="nav nav-pills" id="sort">
        <li class="disabled">Сортировать по:</li>
        <li>
            <a ng-class="sort === 'name' ? 'current' : ''" class="btn btn-link btn-small" ng-click="ctrl.sort($event, 'name');">
                <i ng-class="sort === 'name' && sort_type === 'DESC' ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'" class="fa"></i>Алфавиту
            </a>
        </li>
    </ul>
</div>

<div id="new_menu" class="dd">

    <div ng-show="items">
        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

        <div class="itemslist">
            <ol class="dd-list">

                <li ng-repeat="badge in items" class="dd-item dd3-item" data-id="{$badge->id}">
                    <div class="dd3-content">
                        <a>{{badge.name}}</a>
                        <div class="controllinks">
                            <code class="opcity50">{{badge.id}}</code>
                            <a class="delete-item" href="">
                                <i class="fa fa-times"></i>
                            </a>
                            <a ng-class="badge.is_visible ? 'light-on' : 'light-off'" class="toggle-item" href=""></a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>

        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
    </div>
    <p ng-hide="items">Нет бейджей</p>
</div>