<legend>Бренды</legend>

<div id="sortview">
    <div class="itemcount">Брендов: {{items_count}}</div>
    <ul class="nav nav-pills" id="sort">
        <li class="disabled">Сортировать по:</li>
        <li>
            <a ng-class="sort === 'name' ? 'current' : ''" class="btn btn-link btn-small" ng-click="ctrl.sort($event, 'name');">
                <i ng-class="sort === 'name' && sort_type === 'DESC' ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'" class="fa"></i>Алфавиту
            </a>
        </li>
    </ul>
</div>



<div id="new_menu" class="dd">

    <div ng-show="items">
        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

        <div class="itemslist">
            <ol class="dd-list">
                <li ng-repeat="brand in items" class="dd-item dd3-item" data-id="{$brand->id}">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content">
                        <input type="checkbox" class="checkb" value="{{brand.id}}">
                        <a href="">{{brand.name}}</a>
                    </div>
                    <div class="controllinks">
                        <a ng-class="brand.is_popular ? 'on' : 'off'" class="favorite-brand" href=""  title="Бренд популярныйне популярный"></a>
                        <code class="goods"  title="Количество товаров этого бренда">{{brand.count}}</code>

                        <code class="opcity50">{{brand.id}}</code>

                        <a class="delete-item" href=""><i class="fa fa-times"></i></a>
                        <a ng-class="brand.is_visible ? 'light-on' : 'light-off'" class="toggle-item" href=""></a>

                    </div>
                </li>
            </ol>
        </div>

        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

        <div class="form-inline massoperations">
            <div class="checkall">Выделить все &uarr;</div>
            <select id="mass_operation" class="form-control">
                <option value='1'>Сделать видимыми</option>
                <option value='2'>Скрыть</option>
                <option value='3'>Удалить</option>
            </select>
            <button id="apply_mass_operation" data-color="purple" class="btn btn-default ladda-button" data-style="expand-right"><span class="ladda-label">Применить</span></button>
        </div>
    </div>

    <p ng-hide="items">Нет брендов</p>
</div>