<script type="text/ng-template" id="tree.html">
    <div ng-class="{'searchnone': !item.is_highlight}" class="tree-node">
        <div class="pull-left tree-handle">
            <span class="glyphicon glyphicon-list"></span>
        </div>
        <div class="tree-node-content">
            <a class="btn btn-success btn-xs" ng-if="item.nodes && item.nodes.length > 0" data-nodrag ng-click="ctrl.toggle(this)">
                <span class="glyphicon" ng-class="item.is_collapsed ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></span>
            </a>
            <a data-nodrag href="{{item.admin_url}}" target="_self">{{item.name}}</a>
            <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="ctrl.remove(this)"><span class="glyphicon glyphicon-remove"></span></a>-->
            <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="ctrl.newSubItem(this)" style="margin-right: 8px;"><span class="glyphicon glyphicon-plus"></span></a>-->
        </div>
    </div>
    <!--<ol ui-tree-nodes="" ng-model="item.nodes" ng-class="{hidden: collapsed}">-->
    <ol ui-tree-nodes="" ng-model="item.nodes" ng-class="{'hidden': !item.is_collapsed || !item.is_visible}">
        <li ng-repeat="item in item.nodes" ui-tree-node ng-include="'tree.html'"></li>
    </ol>
</script>


<div id="main_list" class="tags" ng-controller="CategoryController as ctrl">
    <div class="controlgroup">
        <div class="currentfilter">
            <div class="input-group">
                <input ng-model="search" ng-keyup="ctrl.search()" type="text" class="form-control" placeholder="Поиск" value="">
                <span class="input-group-btn">
                    <button ng-click="ctrl.clearSearch()" class="btn btn-default" type="button"><i class="fa fa-times"></i></button>
                    <!--<button id="searchButton" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>-->
                </span>
            </div>
        </div>
        <a href="" class="btn btn-default btn-sm add"><i class="fa fa-plus"></i> Создать</a>
        <a href="#" class="btn btn-success btn-sm save"><i class="fa fa-check"></i> Сохранить</a>
    </div>


    <div class="row">
        <div class="col-md-8">
            <legend>Категории
                <div id="nestable-menu" class="btn-group">
                    <button type="button" ng-click="ctrl.expandAll()" class="btn btn-xs btn-default"><i class="fa fa-plus"></i> Развернуть все</button>
                    <button type="button" ng-click="ctrl.collapseAll()" class="btn btn-xs btn-default"><i class="fa fa-minus"></i> Свернуть все</button>
                </div>
            </legend>

            <div ng-show="items" class="itemslist">
                <div id="tree-root" class="dd" ui-tree="options">
                    <ol class="dd-list" ui-tree-nodes ng-model="items">
                        <li ng-repeat="item in items" ui-tree-node ng-include="'tree.html'"></li>
                    </ol>
                </div>
            </div>
            <div class="form-inline massoperations">
                <div class="checkall">Выделить все &uarr;</div>
                <select id="mass_operation" class="form-control">
                    <option value='1'>Сделать видимыми</option>
                    <option value='2'>Скрыть</option>
                    <option value='3'>Удалить</option>
                    <option value='4'>Назначить фильтр</option>
                    <option value='5'>Удалить фильтр</option>
                </select>
                <select id="mass_operation_set_filter" class="form-control" style="display:none;">
                    <!--{foreach $tags_sets as $tag_set}-->
                    <!--<option value="{$tag_set->id}">{$tag_set->name}</option>-->
                    <!--{/foreach}-->
                </select>
                <button id="apply_mass_operation" data-color="purple" class="btn btn-default ladda-button" data-style="expand-right"><span class="ladda-label">Применить</span></button>
            </div>
        </div>
    </div>
</div>
<!--<div class="col-sm-6">-->
    <!--<pre class="code">{{ items | json }}</pre>-->
<!--</div>-->