<legend>Фильтры для категорий</legend>

<div id="sortview">
    <div class="itemcount">Фильтров: {{items_count}}</div>
    <ul class="nav nav-pills" id="sort">
        <li class="disabled">Сортировать по:</li>

        <li>
            <a class="btn btn-link btn-small {if $params_arr['sort'] == 'name'}current{/if}" href="{$config->root_url}{$module->url}{if $params_arr['sort'] == 'name' && $params_arr['sort_type'] == 'asc'}{url current_params=$current_params add=['sort_type'=>'desc','page'=>1]}{elseif $params_arr['sort'] == 'name' && $params_arr['sort_type'] == 'desc'}{url current_params=$current_params add=['sort_type'=>'asc','page'=>1]}{else}{url current_params=$current_params add=['sort'=>'name', 'sort_type'=>'asc','page'=>1]}{/if}"><i class="{if $params_arr['sort'] == 'name' && $params_arr['sort_type'] == 'desc'}fa fa-sort-alpha-desc{else}fa fa-sort-alpha-asc{/if}"></i> <span>Алфавиту</span></a>
        </li>
    </ul>
</div>

<div id="new_menu" class="dd">
    <div ng-show="items">
        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
        <div class="itemslist">
            <ol class="dd-list">
                <li ng-repeat="set in items" class="dd-item dd3-item" data-id="{{set.id}}">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content">
                        <a href="">{{set.name}}</a>
                        <div class="controllinks">
                            <code class="opcity50">{$set->id}</code>
                            <a class="delete-item" href=""><i class="fa fa-times"></i></a>
                            <a ng-class="set.is_visible ? 'light-on' : 'light-off'" class="toggle-item" href=""></a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>
        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
    </div>
    <p ng-hide="items">Нет фильров для категорий</p>
</div>