<legend>Модификаторы заказов</legend>

<div id="sortview">
    <div class="itemcount">Модификаторов заказов: {{items_count}}</div>
    <ul class="nav nav-pills" id="sort">
        <li>
            <a ng-class="sort === 'position' ? 'current' : ''" class="btn btn-link btn-small" ng-click="ctrl.sort($event, 'position');">
                <span>По порядку</span>
            </a>
        </li>
    </ul>
</div>


<div ng-show="items" id="new_menu" class="dd">
    <div class="itemslist">
        <ol class="dd-list">

            <li ng-repeat="modificator in items" class="dd-item dd3-item" data-id="{{modificator.id}}">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">
                    <a href="">{{modificator.name}}</a>
                    <div class="controllinks">
                        <!--{if $modificator->type == "plus_fix_sum"}-->
                        <!--<code>+{$modificator->value} {$main_currency->sign}</code>-->
                        <!--{elseif $modificator->type == "minus_fix_sum"}-->
                        <!--<code>-{$modificator->value} {$main_currency->sign}</code>-->
                        <!--{elseif $modificator->type == "plus_percent"}-->
                        <!--<code>+{$modificator->value}%</code>-->
                        <!--{elseif $modificator->type == "minus_percent"}-->
                        <!--<code>-{$modificator->value}%</code>-->
                        <!--{elseif $modificator->type == "nothing"}-->

                        <!--{/if}-->

                        <a class="delete-item" href=""><i class="fa fa-times"></i></a>
                        <a ng-class="modificator.is_visible ? 'light-on' : 'light-off'" class="toggle-item" href=""></a>
                    </div>
                    <!--<div class="modificatorimage">-->
                        <!--<img src='modificator:resize:image:50-50' alt='{$modificator->image->name}'>-->
                    <!--</div>-->
                </div>
            </li>
        </ol>
    </div>
</div>
<p ng-hide="items">Нет модификаторов заказов</p>