<legend>Группы товаров</legend>

<div id="sortview">
    <div class="itemcount">Групп: {{items_count}}</div>
</div>
<div id="new_menu" class="dd">
    <div ng-show="items">

        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

        <div class="itemslist">
            <ol class="dd-list">
                <li ng-repeat="group in items" class="dd-item dd3-item" data-id="{{group.id}}">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content">
                        <a href="">{{group.name}}</a>
                        <div class="controllinks">
                            <code class="goods">{{group.products_count}}</code>
                            <code class="opcity50" style="display:none;">{{group.id}}</code>
                            <a class="delete-item" href=""><i class="fa fa-times"></i></a>
                            <a ng-class="group.is_visible ? 'light-on' : 'light-off'" class="toggle-item" href=""></a>
                        </div>
                    </div>
                </li>
            </ol>
        </div>

        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

    </div>

    <p ng-hide="items">Нет групп товаров</p>

</div>