<legend>Свойства</legend>

<div id="sortview">
    <div class="itemcount">Свойств: {{items_count}}</div>
    <ul class="nav nav-pills" id="sort">
        <li class="disabled">Сортировать по:</li>
        <li>
            <a ng-class="sort === 'position' ? 'current' : ''" class="btn btn-link btn-small" ng-click="ctrl.sort($event, 'position');">
                <span>По порядку</span>
            </a>
        </li>
    </ul>
</div>

<div id="new_menu" class="dd">
    <div ng-show="items">

        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

        <div class="itemslist">
            <ol class="dd-list">
                <!--{foreach $tags_groups as $tag}-->
                <li ng-repeat="tag_group in items" class="dd-item dd3-item" data-id="{{tag_group.id}}">
                    <div class="dd-handle dd3-handle"></div>
                    <div class="dd3-content">
                        <input type="checkbox" value="{$item->id}" class="checkb">
                        <a href="">{{tag_group.name}}{{tag_group.postfix ? ',' + tag.postfix : ''}}</a>

                        <div class="controllinks">
                            <code class="opcity50">{{tag_group.id}}</code>
                            <!--{if $mode == 'user-properties'}-->
                            <a class="delete-item" href="">
                                <i class="fa fa-times"></i>
                            </a>
                            <a ng-class="tag_group.is_enabled ? 'light-on' : 'light-off'" class="toggle-item" href=""></a>
                            <!--{/if}-->
                            <a ng-class="tag_group.show_in_frontend ? 'flag-on' : 'flag-off'" class="flag-item" href="" title="{if $tag->show_in_frontend}Свойство отображается в товаре{else}Свойство не отображается в товаре{/if}"></a>

                            <a ng-class="tag_group.show_in_product_list ? 'flag-on' : 'flag-off'" class="list-item" href="" title="{if $tag->show_in_product_list}Свойство отображается в списке товаров{else}Свойство не отображается в списке товаров{/if}"></a>

                            <a ng-class="tag_group.export2yandex ? 'market-on' : 'market-off'" class="market-item" href="" title="{if $tag->export2yandex}Свойство выгружается в Яндекс-Маркет{else}Свойство не выгружается в Яндекс-Маркет{/if}"></a>

                        </div>
                        <div class="type">
                            <span class="label label-default">{{tag_group.mode_text}}</span>
                        </div>
                    </div>
                </li>
            </ol>
        </div>

        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

    </div>

    <p ng-show="items">Нет свойств</p>
</div>

<div class="form-inline massoperations">
    <div class="checkall">Выделить все ↑</div>
    <select id="mass_operation" class="form-control">
        <option value="1">Отобразить свойство в товаре</option>
        <option value="2">Скрыть свойство в товаре</option>
        <option value="6">Отобразить свойства в списке товаров</option>
        <option value="7">Не показывать свойства в списке товаров</option>
        <option value="3">Сделать видимыми</option>
        <option value="4">Скрыть</option>
        <option value="5">Удалить</option>
    </select>
    <button id="apply_mass_operation" data-color="purple" class="btn btn-default ladda-button" data-style="expand-right"><span class="ladda-label">Применить</span></button>
</div>