<div class="ui container">
<h4 class="ui horizontal divider header"><i class="tag icon"></i> Список товаров плиткой начало </h4>
	
	
	
	<div class="ui four column grid">


                    <div class="wide column">

                <div class="ui card">
                    <a class="image" href="#">
                        <img src="http://placehold.it/350x350">
                    </a>
                    <div class="content">
                        <a class="header" href="#">Samsung HW-F450 - новый товар с длинным названием которое вполне может быть</a>
                        <div class="description">
                            <p>активная, звуковая панель, стандарт 2.1, сабвуфер 120 Вт, суммарная мощность 280 Вт, Dolby Digital, DTS, пульт ДУ</p>
                        </div>
                        <div class="meta">
                            Есть в наличии
                        </div>
                    </div>

                    <div class="extra content">
                        <div class="left floated">5100 Р </div>
                        <div class="right floated">
                            <button class="ui tiny button">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="wide column">

                <div class="ui card">
                    <a class="image" href="#">
                        <img src="http://placehold.it/350x350">
                    </a>
                    <div class="content">
                        <a class="header" href="#">Samsung UE85S9</a>
                        <div class="description">
                            <p>ЖК-телевизор, LED, 85", 3840x2160, 4K UHD, 1000 Гц, 3D, картинка в картинке, DVR, 3 TV-тюнера, мощность звука 120 Вт, HDMI x4, Ethernet, Wi-Fi, доступ в интернет (Smart TV)</p>

                        </div>
                        <div class="meta">
                            Есть в наличии
                        </div>
                    </div>

                    <div class="extra content">
						<div class="ui form">
						<div class="field">
						 <select name="variant_id">			
							
							<option value="2852" data-stock="-1" data-price="35000" data-price-convert="35 000" data-price-old="0" data-price-old-convert="0" data-sku="" class="to-order">Белый  (под заказ)</option>
									
							
							<option value="1842" data-stock="999" data-price="48500" data-price-convert="48 500" data-price-old="0" data-price-old-convert="0" data-sku="">Samsung UE40F7000</option>
									
							
							<option value="2853" data-stock="0" data-price="30000" data-price-convert="30 000" data-price-old="0" data-price-old-convert="0" data-sku="" class="out-of-stock">Синий (нет в наличии)</option>
				            </select>
							</div>
						</div>
							
                        <div class="left floated">5100 Р </div>
                        <div class="right floated">
                            <button class="ui tiny button">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="wide column">

                <div class="ui card">
                    <a class="image" href="#">
                        <img src="http://placehold.it/350x350">
                    </a>
                    <div class="content">
                        <a class="header" href="#">Samsung UE40F7000</a>
                        <div class="description">
                            <p>ЖК-телевизор, LED, 40", 1920x1080, 1080p Full HD, 800 Гц, 3D, картинка в картинке, DVR, 3 TV-тюнера, мощность звука 20 Вт, HDMI x4, Ethernet, Wi-Fi, доступ в интернет (Smart TV)</p>

                        </div>
                        <div class="meta">
                            Есть в наличии
                        </div>
                    </div>

                    <div class="extra content">
                        <div class="left floated">5100 Р </div>
                        <div class="right floated">
                            <button class="ui tiny button">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="wide column">

                <div class="ui card">
                    <a class="image" href="#">
                        <img src="http://placehold.it/350x350">
                    </a>
                    <div class="content">
                        <a class="header" href="#">Samsung UE85S9000</a>
                        <div class="description">
                            <p>ЖК-телевизор, LED, 85", 3840x2160, 4K UHD, 1000 Гц, 3D, картинка в картинке, DVR, 3 TV-тюнера, мощность звука 120 Вт, HDMI x4, Ethernet, Wi-Fi, доступ в интернет (Smart TV)</p>

                        </div>
                        <div class="meta">
                            Есть в наличии
                        </div>
                    </div>

                    <div class="extra content">
                        <div class="left floated">5100 Р </div>
                        <div class="right floated">
                            <button class="ui tiny button">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
	
	
	
	<h4 class="ui horizontal divider header"><i class="tag icon"></i> Список товаров плиткой конец </h4>
	
	
	
</div>