{*<div class="wide column">*}
    {*<div class="ui card">*}
        {*<a class="image" href="*}{*url url=$category->url controller='category'*}{*">*}
            {*<img src="{$category->image|resize:350:350}">*}
        {*</a>*}
        {*<div class="content">*}
            {*<a class="header" href="#">{$category->name}</a>*}
        {*</div>*}
    {*</div>*}
{*</div>*}