{*<div class="ui four column grid container">*}
    {*<div class="four wide column">*}
        {*<div class="ui segment">Баннеры слева</div>*}
    {*</div>*}
    {*<div class="twelve wide column">*}
        {*<div class="ui segment">Слайдшоу</div>*}
    {*</div>*}
{*</div>*}

<div class="col-xs-9">
    {*if $settings->slideshow_enabled && $slides|count>0*}
        <div class="swiper-container main-slideshow">
            <div class="swiper-wrapper">
                {foreach $slides as $slide}
                    <div class="swiper-slide">
                        <img src="{$slide->image->filename}"/>
                    </div>
                {/foreach}
            </div>
            <!-- Пагинация -->
            <div class="swiper-pagination"></div>
            <!-- Стрелки навигации -->
            <div class="swiper-button-next swiper-button-black"></div>
            <div class="swiper-button-prev swiper-button-black"></div>
        </div>
    {*/if*}
</div>