@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic');


body {
	font-family: 'Roboto', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
}

.ui.button {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 400;
}

.ui.text.container {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.header {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.input input {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.list .list > .item .header,
.ui.list > .item .header {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.steps .step .title {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.menu {
	font-family: 'Roboto', Arial, sans-serif;
}

ui.message .header {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.cards > .card > .content > .header,
.ui.card > .content > .header {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.items > .item > .content > .header {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.statistics .statistic > .value,
.ui.statistic > .value {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.accordion .title:not(.ui) {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.statistics .statistic > .label,
.ui.statistic > .label {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.modal > .header {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.search > .results .result .title {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.category.search > .results .category > .name {
	font-family: 'Roboto', Arial, sans-serif;
}

.ui.label {
	font-weight: 400;	
}
.out-of-stock {
  color: #999;
}



/* Список товаров плиткой начало */ 
.out-of-stock { /* красим серым в выпадающем списке вариант товара со статусом "нет в наличии" */ 
  color: #999;
}

.to-order { /* под заказ */ 
	font-style: italic;	
}
/* Список товаров плиткой конец */ 