<div id="new_menu" class="dd">
    <!--{function name=categories_tree}-->
    <!--{if $items}-->
    <!--<ol class="dd-list">-->
        <!--{foreach $items as $item}-->
        <!--<li class="dd-item dd3-item" data-id="{$item->id}">-->
            <!--<input type="checkbox" value="{$item->id}" class="checkb">-->
            <!--<div class="dd-handle dd3-handle"></div>-->
            <!--<div class="dd3-content {if $keyword && !in_array($item->id, $cats_filtered_ids) && array_intersect($item->children, $cats_filtered_ids)|count>0}searchnone{/if}">-->
                <!--<a {if $allow_edit_module}href="{$config->root_url}{$edit_module->url}{url add=['id'=>$item->id]}"{/if} class="catname">{$item->name|escape}</a>-->
            <!--</div>-->
            <!--<div class="controllinks">-->


                <!--<a title="Количество материалов в этой категории и подкатегориях"><code class="materials">-->
                    <!--{$item->materials_count}</code></a>-->
                <!--<code class="opcity50">{$item->id}</code>-->
                <!--{if $allow_edit_module}<a class="delete-item" href="{$config->root_url}{$edit_module->url}{url add=['id'=>$item->id, 'mode'=>'delete', 'ajax'=>1]}"><i class="fa fa-times"></i></a>-->
                <!--<a class="toggle-item {if $item->is_visible}light-on{else}light-off{/if}" href="{$config->root_url}{$edit_module->url}{url add=['id'=>$item->id, 'mode'=>'toggle', 'ajax'=>1]}"></a>{/if}-->
            <!--</div>-->
            <!--{if $item->subcategories}{categories_tree items=$item->subcategories}{/if}-->
        <!--</li>-->
        <!--{/foreach}-->
    <!--</ol>-->
    <!--{/if}-->
    <!--{/function}-->
    <!--{categories_tree items=$categories}-->
    <!--{include file='pagination.tpl'}-->

</div>

<p>Категории не найдены</p>


