<div id="tree">
    <ol class="dd-list-small">
        <li class="dd-item-small dd3-item-small dd-collapsed">
            <div class="dd3-content-small">
                <span>{{all_items_count}}</span>
                <a href="#" class="active">Все категории</a>
            </div>
        </li>
        <li ng-repeat="category in categories" class="dd-item-small dd3-item-small dd-collapsed" data-id="{{category.id}}">
            <div class="dd3-content-small">
                <span>{{category.count}}</span>
                <a href="#">{{category.name}}</a>
            </div>
        </li>
    </ol>
</div>