<div id="sortview">
    <div class="itemcount">Материалов: {{items_count}}</div>
    <ul class="nav nav-pills" id="sort">
        <li class="disabled">Сортировать по:</li>
        <li>
            <a ng-class="sort === 'position' ? 'current' : ''" class="btn btn-link btn-small" ng-click="ctrl.sort($event, 'position');">
                <span>По порядку</span>
            </a>
        </li>
        <!--<li>-->
            <!--<a ng-class="sort === 'price' ? 'current' : ''" class="btn btn-link btn-small allow-jump" ng-click="ctrl.sort($event, 'price')" data-placement="bottom" data-toggle="tooltip" data-original-title="Сначала дорогие Сначала дешевые">-->
                <!--<i ng-class="sort === 'price' && sort_type === 'DESC' ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'" class="fa"></i><span>Цене</span>-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a ng-class="sort === 'created_dt' ? 'current' : ''" class="btn btn-link btn-small allow-jump" ng-click="ctrl.sort($event, 'created_dt')"  data-placement="bottom" data-toggle="tooltip" data-original-title="Сначала старые Сначала новые">
                <i ng-class="sort === 'created_dt' && sort_type === 'DESC' ? 'fa-sort-numeric-desc' : 'fa-sort-numeric-asc'" class="fa"></i><span>Новизне</span>
            </a>
        </li>
        <li>
            <a ng-class="sort === 'name' ? 'current' : ''" class="btn btn-link btn-small allow-jump" ng-click="ctrl.sort($event, 'name')">
                <i ng-class="sort === 'name' && sort_type === 'DESC' ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'" class="fa"></i><span>Алфавиту</span>
            </a>
        </li>
    </ul>
</div>
<div ng-show="items">
    <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
    <div class="itemslist">
        <ol class="dd-list" data-href="">
            <li ng-repeat="material in items" data-id="{{material.id}}" class="dd-item dd3-item">
                <div class="dd-handle dd3-handle"></div>
                <div class="dd3-content">
                    <input type="checkbox" class="checkb" value="{$item->id}">
                    <a href="">{{material.name}}</a>
                </div>
                <div class="controllinks">
                    <code class="opcity50">{{material.id}}</code>
                    <a href="" class="delete-item"><i class="fa fa-times"></i></a>
                    <a ng-class="material.is_visible ? 'light-on' : 'light-off'" href="" class="toggle-item"></a>
                </div>
                <!--<div class="material-group">-->
                    <!--<span class="label label-default">{$material->parent_category->name}</span>-->
                    <!--{if $material->use_main}<span class="label label-default"><label><i class="fa fa-home"></i> Главная</label></span>{/if}-->
                <!--</div>-->
            </li>
        </ol>
    </div>
    <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
</div>
<p ng-hide="items">Нет материалов</p>