<div ng-show="items">
    <legend>Пользовательские меню</legend>
    <div class="dd">
        <ol class="dd-list">
            <li ng-repeat="menu in items" ng-show="menu.is_static == 1" data-id="{{menu.id}}" class="dd-item dd3-item">
                <div class="dd3-content">
                    <a href="">{{menu.name}}</a>
                </div>
                <div class="controllinks">
                    <code class="opcity50">{{menu.id}}</code>
                    <a href="" class="delete-item"><i class="fa fa-times"></i></a>
                    <a ng-class="memu.is_visible ? 'light-on' : 'light-off'" href="" class="toggle-item"></a>
                </div>
            </li>
        </ol>
    </div>


    <legend class="mt20">Системные меню</legend>
    <div class="dd">
        <ol class="dd-list">
            <li ng-repeat="menu in items" ng-show="menu.is_static == 0" data-id="{{menu.id}}" class="dd-item dd3-item">
                <div class="dd3-content">
                    <a href="">{{menu.name}}</a>
                </div>
                <div class="controllinks">
                    <code class="opcity50">{{menu.id}}</code>
                </div>
            </li>
        </ol>
    </div>
</div>

<p ng-hide="items">Нет меню</p>