<legend>Меню</legend>
{if $menu_items}

<div id="new_menu" class="dd">
    {function name=categories_tree}
    {if $items}
    <ol class="dd-list">
        {foreach $items as $item}
        <li class="dd-item dd3-item" data-id="{$item->id}">
            <input type="checkbox" value="{$item->id}" class="checkb">
            <div class="dd-handle dd3-handle"></div>
            <div class="dd3-content {if $keyword && !in_array($item->id, $items_filtered_ids)}searchnone{/if}">
                <a {if $allow_edit_module}href="{$config->root_url}{$edit_module->url}{url add=['id'=>$item->id]}"{/if} class="catname">{$item->name|escape}</a>

            </div>
            <div class="controllinks">
                <span class="label">{if $item->object_type == "none"}Не выбрано
                {elseif $item->object_type == "material"}Материал
                {elseif $item->object_type == "material-category"}Категория материалов
                {elseif $item->object_type == "product"}Товар
                {elseif $item->object_type == "category"}Категория товаров
                {elseif $item->object_type == "href"}Ссылка
                {elseif $item->object_type == "separator"}Разделитель
                {elseif $item->object_type == "sitemap"}Карта сайта
                {/if}</span>
                {*
                <code class="opcity50">{$item->id}</code>
                *}
                {if $allow_edit_module}<a class="delete-item" href="{$config->root_url}{$edit_module->url}{url add=['id'=>$item->id, 'action'=>'delete']}"><i class="fa fa-times"></i></a>
                <a class="toggle-item {if $item->is_visible}light-on{else}light-off{/if}" href="{$config->root_url}{$edit_module->url}{url add=['id'=>$item->id, 'action'=>'toggle']}"></a>{/if}
                {if $item->is_main}<span title="Этот материал будет отображен на главной странице"><i class="fa fa-home""></i></span>{/if}
            </div>
            {if $item->subitems}{categories_tree items=$item->subitems}{/if}
        </li>
        {/foreach}
    </ol>
    {/if}
    {/function}
    {categories_tree items=$menu_items}
</div>

{else}
<p>Нет пунктов меню</p>
{/if}