<div class="pager-block">
    <div ng-show="pages_count > 1" class="pager-block-left">
        <ul class="pagination">
            <li ng-class="page == 1 ? 'disabled' : ''"><a ng-click="ctrl.prev()" href="">«</a></li>

            <!--<li ng-class="page == 1 ? 'active' : ''"><a ng-click="ctrl.page(1)" href="">1</a></li>-->

            <!--<li ng-show="page > 6"><span>...</span></li>-->

            <li data-ng-repeat="i in pages" ng-class="page == i ? 'active' : ''"><a ng-click="ctrl.page(i)">{{i}}</a></li>

            <!--<li ng-show="page < pages_count - 6"><span>...</span></li>-->

            <!--<li ng-class="page == pages_count ? 'active' : ''"><a ng-click="ctrl.page(pages_count)" href="">{{pages_count}}</a></li>-->

            <li ng-class="page == pages_count ? 'disabled' : ''"><a ng-click="ctrl.next()" href="">»</a></li>
        </ul>
    </div>
    <div ng-show="pages_count > 1" class="pager-block-right">
        <ul class="pagination pagination-all">
            <li>
                <a ng-click="ctrl.pages()" href="">Показать все</a>
            </li>
        </ul>
    </div>
</div>