<legend>Группы пользователей</legend>
<div id="new_menu" class="dd">
    <ol ng-show="items" class="dd-list">
        <li ng-repeat="group in items" class="dd-item dd3-item" data-id="{{group.id}}">
            <div class="dd-handle dd3-handle"></div>
            <div class="dd3-content">
                <a href="">{{group.name}}</a>
                <div class="controllinks">
                    <code class="mans">{{group.count}}</code>
                    <code class="opcity50">{{group.id}}</code>
                    <a class="delete-item" href="">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
            </div>
        </li>
    </ol>
    <p ng-hide="items">Нет групп</p>
</div>