<div class="list-group ordergroups">
    <a ng-class="group_id === null ? 'active' : ''" ng-click="ctrl.selectGroup()" class="list-group-item">
        <span class="badge">{{all_items_count}}</span>
        Все группы
    </a>

    <a ng-repeat="group in groups" ng-class="group_id === group.id ? 'active' : ''" ng-click="ctrl.selectGroup(group.id)" class="list-group-item">
        <span class="badge">{{group.count}}</span>
        {{group.group_name}}
    </a>
</div>