<div ng-show="items_count">
    <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
    <div class="itemslist">
        <ol class="dd-list" data-href="">
            <li ng-repeat="user in items" class="dd-item dd3-item" data-id="{{user.id}}">
                <div class="dd3-content">
                    <input type="checkbox" value="{{user.id}}" class="checkb">
                    <div class="userblock">

                        <a href="" class="user-name">{{user.name}}</a>

                        <a href="" class="user-mail">+7 ({{(user.phone | limitTo:4).trim()}}) {{(user.phone | limitTo:7:4).trim()}}</a>

                        <div class="controllinks">
                            <a class="delete-item" href=""><i class="fa fa-times"></i></a>
                            <a ng-class="user.is_enabled ? 'light-on' : 'light-off'" class="toggle-item" href=""></a>
                        </div>

                        <div class="user-group">
                            <span ng-class="user.group.css_class" class="label">
                                {{user.group.name}}
                            </span>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
    </div>
    <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
</div>

<p ng-hide="items_count">Нет пользователей</p>