{* Title *}
{$meta_title='Импорт товаров из Яндекс.Маркета - Настройки' scope=parent}

{* Заголовок *}

<div class="controlgroup">
	<div class="sep">
	<a href="#" class="help">Помощь</a>
	</div>
</div>


 <div class="row">
	<div class="col-md-8">
	
		<legend>Импорт товаров из <font color=red>Я</font>ндекс.Маркета - Настройки</legend>	
	
		<form method=POST>
			<input type=hidden name="session_id" value="{$smarty.session.id}">
			<input type="submit" value="Сохранить" class="btn btn-primary btn-lg">
		</form>
	
	</div>
	<div class="col-md-4">
	</div>
</div>