<!--<ul id="tree-root" ui-tree ui-tree-nodes ng-model="images" ui-tree="options" data-max-depth="1">-->
    <!--<li ui-tree-handle ui-tree-node ng-repeat="image in images" data-id="{{image.id}}">-->
        <!--<div>-->
            <!--<a ng-click="ctrl.deleteProductImage(this, image.id);" class="delete_image close"><i class="fa fa-times"></i></a>-->
            <!--&lt;!&ndash;<a class="" rel="group" href="">&ndash;&gt;-->
                <!--&lt;!&ndash;<i class="fa fa-search-plus"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
            <!--<img ng-src="{{image.resized_filename}}" alt="{{image.name}}" />-->
        <!--</div>-->
    <!--</li>-->
<!--</ul>-->
<ul id="tree-root" ui-tree-nodes ng-model="images" ui-tree="options" data-max-depth="1">
    <li ui-tree-handle ui-tree-node ng-repeat="image in images" data-id="{{image.id}}">
        <div>
            <a data-nodrag ng-click="ctrl.deleteProductImage(this, image.id);" class="delete_image close"><i class="fa fa-times"></i></a>
            <a class="fancybox" rel="group" href="">
                <i class="fa fa-search-plus"></i>
            </a>
            <img ng-src="{{image.resized_filename}}" alt="{{image.name}}" />
        </div>
    </li>
</ul>