{* Шаблон списка товаров *}

{* Выводится название категории, то что в "Заголовок категории", если же оно пусто, выводится "Название пункта меню"*}

{breadcrumbs module='categories' id=$category->id}

<h1>По запросу "{$keyword}" найдено {$products_count} {$products_count|plural:'товар':'товаров':'товара'} {if $categories_count>0}и <a id="jump_to_categories_filtered" href="{$config->root_url}{$products_module->url}{url current_params=$current_params add=['page'=>1]}#categories_filtered">{$categories_count} {$categories_count|plural:'категория':'категорий':'категории'}</a>{/if}</h1>

{* Текстовое описание сверху *}
{if $current_page_num == 1}
	<div class="decription-category-top">
		{$category->description}
	</div>
{/if}


{if $products|count > 0}
<div id="sortview">

<ul class="nav nav-pills" id="sort">                    
	<li class="disabled">Сортировать по:</li>
	
	{assign var="sort_page_num" value=1}
	{if $current_page_num == 'all'}{assign var="sort_page_num" value='all'}{/if}
	
	{foreach $sort_methods as $index=>$method}
		{if $method@first && (!array_key_exists('sort', $params_arr) || $params_arr['sort'] == $method) && $method == "position"}
			<li><a class="btn btn-link btn-small current"><span>{$sort_methods_name[$index]}</span></a></li>
		{elseif $method@first && !array_key_exists('sort', $params_arr)}
			<li><a data-type="{$data_type}" class="btn btn-link btn-small current" href="{$config->root_url}{$module->url}{$current_url}{url current_params=$current_params add=['sort_type'=>'desc','page'=>$sort_page_num]}" data-placement="bottom" data-toggle="tooltip" data-original-title="{$sort_methods_biger[$index]}"><i class="{$sort_methods_icon_asc[$index]}"></i> <span>{$sort_methods_name[$index]}</span></a></li>
		{elseif $params_arr['sort'] == $method}
			<li><a data-type="{$data_type}" class="btn btn-link btn-small current" href="{$config->root_url}{$module->url}{$current_url}{if $params_arr['sort_type'] == 'asc'}{url current_params=$current_params add=['sort_type'=>'desc','page'=>$sort_page_num]}{elseif $params_arr['sort_type'] == 'desc'}{url current_params=$current_params add=['sort_type'=>'asc','page'=>$sort_page_num]}{else}{url current_params=$current_params add=['sort'=>$method, 'sort_type'=>'asc','page'=>$sort_page_num]}{/if}" data-placement="bottom" data-toggle="tooltip" data-original-title="{if $params_arr['sort_type'] == 'asc'}{$sort_methods_biger[$index]}{else}{$sort_methods_lower[$index]}{/if}"><i class="{if $params_arr['sort_type'] == 'desc'}{$sort_methods_icon_desc[$index]}{else}{$sort_methods_icon_asc[$index]}{/if}"></i> <span>{$sort_methods_name[$index]}</span></a></li>
		{else}
			<li><a data-type="{$data_type}" class="btn btn-link btn-small" href="{$config->root_url}{$module->url}{$current_url}{url current_params=$current_params add=['sort'=>$method, 'sort_type'=>'asc','page'=>$sort_page_num]}" data-placement="bottom" data-toggle="tooltip" data-original-title="{if $params_arr['sort'] == $method && $params_arr['sort_type'] == 'asc'}{$sort_methods_biger[$index]}{else}{$sort_methods_lower[$index]}{/if}"><i class="{if $params_arr['sort'] == $method && $params_arr['sort_type'] == 'desc'}{$sort_methods_icon_asc[$index]}{else}{$sort_methods_icon_desc[$index]}{/if}"></i> <span>{$sort_methods_name[$index]}</span></a></li>
		{/if}
	{/foreach}
	
	{*
	{if !array_key_exists('sort', $params_arr) || $params_arr['sort'] == 'position'}
		<li><a class="btn btn-link btn-small current"><span>Порядку</span></a></li>
	{else}
		<li><a class="btn btn-link btn-small" href="{$config->root_url}{$module->url}{$current_url}{url current_params=$current_params add=['sort'=>'position','sort_type'=>'asc','page'=>$sort_page_num]}"><span>Порядку</span></a></li>
	{/if}
    
    <li><a class="btn btn-link btn-small {if $params_arr['sort'] == 'price'}current{/if}" href="{$config->root_url}{$module->url}{$current_url}{if $params_arr['sort'] == 'price' && $params_arr['sort_type'] == 'asc'}{url current_params=$current_params add=['sort_type'=>'desc','page'=>$sort_page_num]}{elseif $params_arr['sort'] == 'price' && $params_arr['sort_type'] == 'desc'}{url current_params=$current_params add=['sort_type'=>'asc','page'=>$sort_page_num]}{else}{url current_params=$current_params add=['sort'=>'price', 'sort_type'=>'asc','page'=>$sort_page_num]}{/if}"><i class="{if $params_arr['sort'] == 'price' && $params_arr['sort_type'] == 'desc'}fa fa-sort-amount-desc{else}fa fa-sort-amount-asc{/if}"></i> <span>Цене</span></a></li>

	<li><a class="btn btn-link btn-small {if $params_arr['sort'] == 'popular'}current{/if}" href="{$config->root_url}{$module->url}{$current_url}{if $params_arr['sort'] == 'popular' && $params_arr['sort_type'] == 'asc'}{url current_params=$current_params add=['sort_type'=>'desc','page'=>$sort_page_num]}{elseif $params_arr['sort'] == 'popular' && $params_arr['sort_type'] == 'desc'}{url current_params=$current_params add=['sort_type'=>'asc','page'=>$sort_page_num]}{else}{url current_params=$current_params add=['sort'=>'popular', 'sort_type'=>'asc','page'=>$sort_page_num]}{/if}"><i class="{if $params_arr['sort'] == 'popular' && $params_arr['sort_type'] == 'desc'}fa fa-sort-amount-asc{else}fa fa-sort-amount-desc{/if}"></i> <span>Популярности</span></a></li>
    
	<li><a class="btn btn-link btn-small {if $params_arr['sort'] == 'name'}current{/if}" href="{$config->root_url}{$module->url}{$current_url}{if $params_arr['sort'] == 'name' && $params_arr['sort_type'] == 'asc'}{url current_params=$current_params add=['sort_type'=>'desc','page'=>$sort_page_num]}{elseif $params_arr['sort'] == 'name' && $params_arr['sort_type'] == 'desc'}{url current_params=$current_params add=['sort_type'=>'asc','page'=>$sort_page_num]}{else}{url current_params=$current_params add=['sort'=>'name', 'sort_type'=>'asc','page'=>$sort_page_num]}{/if}"><i class="{if $params_arr['sort'] == 'name' && $params_arr['sort_type'] == 'desc'}fa fa-sort-alpha-desc{else}fa fa-sort-alpha-asc{/if}"></i> <span>Алфавиту</span></a></li>
	*}
</ul>

<div id="view">	
    <div class="view-style">
    	<div class="btn-group">
			<a data-type="{$data_type}" href="{$config->root_url}{$module->url}{$current_url}{url current_params=$current_params add=['mode'=>'list']}" class="btn btn-default btn-sm {if !$mode || $mode == 'list'}active{/if}" data-placement="bottom" data-toggle="tooltip" data-original-title="Списком"><i class="fa fa-bars"></i></a>
			<a data-type="{$data_type}" href="{$config->root_url}{$module->url}{$current_url}{url current_params=$current_params add=['mode'=>'tile']}" class="btn btn-default btn-sm {if $mode == 'tile'}active{/if}" data-placement="bottom" data-toggle="tooltip" data-original-title="Плиткой"><i class="fa fa-th"></i></a>
		</div>
    </div>
    <div class="view-how">Отображать:</div>
</div>

</div>

<!-- Стиль списка товаров фильтры и прочее начало -->
{include file='pagination-frontend.tpl'}

{*if !array_key_exists('mode', $params_arr) || $params_arr['mode'] == 'list'*}
{if !$mode || $mode == 'list'}
<ul class="list">
	{foreach $products as $product}
		{include file='product-list.tpl'}
	{/foreach}
</ul>
{/if}

{*if $params_arr['mode'] == 'tile'*}
{if $mode == 'tile'}
<ul class="plitka">
	{$mh_group = 1}
	{foreach $products as $product}
		{include file='product-tile.tpl' mh_group=$mh_group}
		{if $product@iteration is div by 3}<div class="plitka-separator"></div>{$mh_group = $mh_group + 1}{/if}
	{/foreach}
</ul>
{/if}

{include file='pagination-frontend.tpl'}

{else}
	Нет товаров
{/if}



{if $categories_filtered && ($current_page_num == 1 || $current_page_num == 'all')}
<a id="categories_filtered"></a>
<h2>Найдены категории:</h2>
<ul id="found-categories">
	{$mh_group = 1}
	{foreach $categories_filtered as $f}
		<li class="{$f->css_class}">
				<a href="{$config->root_url}{$products_module->url}{$f->url}/">
                <div class="found-categories-image">
				{if $f->image}<img src='{$f->image->filename|resize:categories:155:155}' alt='{$f->image->name}'>{/if}
                </div>
				<div class="found-categories-name" {if $mh_group}data-mh="cgroup-{$mh_group}"{/if}>{$f->name}</div>
                </a>
		</li>
		{if $f@iteration is div by 4}<div class="plitka-separator"></div>{$mh_group = $mh_group + 1}{/if}
	{/foreach}
</ul>
{/if}

{if $current_page_num == 1}
<div class="decription-category-bottom">
{$category->description2}
</div>
{/if}

<script type="text/javascript">
	$(document).ready(function(){
		$('ul.list').on('change', 'li.listitem select[name=variant_id]', function(){
			var li = $(this).closest('li');
			var option = $(this).find('option:selected');
			li.find('span.in-stock').hide();
			li.find('span.out-of-stock').hide();
			li.find('span.to-order').hide();
			
			var stock = parseInt(option.attr('data-stock'));
			if (stock > 0)
			{
				li.find('span.in-stock').show();
				li.find('a.list-buy').show();
				li.find('a.buy-one-click').show();
			}
			if (stock == 0)
			{
				li.find('span.out-of-stock').show();
				li.find('a.list-buy').hide();
				li.find('a.buy-one-click').hide();
			}
			if (stock < 0)
			{
				li.find('span.to-order').show();
				li.find('a.list-buy').show();
				li.find('a.buy-one-click').show();
			}
			var price = parseFloat(option.attr('data-price'));
			var price_old = parseFloat(option.attr('data-price-old'));
			if (price > 0)
				li.find('div.list-price').show().html(option.attr('data-price-convert')+' <span>{$main_currency->sign}</span>');
			else
				li.find('div.list-price').hide();
			if (price_old > 0)
				li.find('div.list-old-price').show().html(option.attr('data-price-old-convert')+' <span>{$main_currency->sign}</span>');
			else
				li.find('div.list-old-price').hide();
			if (price < {$settings->cart_order_min_price} || stock == 0)
				li.find('a.buy-one-click').hide();
			else
				li.find('a.buy-one-click').show();
		});
		$('ul.plitka').on('change', 'li.plitka-item select[name=variant_id]', function(){
			var li = $(this).closest('li');
			var option = $(this).find('option:selected');
			li.find('div.plitka-status span').each(function(){
				$(this).hide();
			});
			var stock = parseInt(option.attr('data-stock'));
			if (stock > 0)
			{
				li.find('span.in-stock').show();
				li.find('a.plitka-buy').show();
			}
			if (stock == 0)
			{
				li.find('span.out-of-stock').show();
				li.find('a.plitka-buy').hide();
			}
			if (stock < 0)
			{
				li.find('span.to-order').show();
				li.find('a.plitka-buy').show();
			}
			var price = parseFloat(option.attr('data-price'));
			var price_old = parseFloat(option.attr('data-price-old'));
			if (price > 0)
				li.find('div.plitka-price').show().html(option.attr('data-price-convert')+' <span>{$main_currency->sign}</span>');
			else
				li.find('div.plitka-price').hide();
			if (price_old > 0)
				li.find('div.plitka-old-price').show().html(option.attr('data-price-old-convert')+' <span>{$main_currency->sign}</span>');
			else
				li.find('div.plitka-old-price').hide();
		});
		
		$('ul.plitka .plitka-name-block').matchHeight(1);
		$('ul.plitka .plitka-description').matchHeight(1);
		$('#found-categories .found-categories-name').matchHeight(1);
	});

	$('#jump_to_categories_filtered').click(function(){
		$("body,html").animate({
			scrollTop: $('#categories_filtered').offset().top
		}, 0);
		return false;
	});
</script>

<!-- Стиль списка товаров фильтры и прочее  конец -->