{* Title *}
{$meta_title='Квитанция сбербанка' scope=parent}

<div class="controlgroup">		
	<a href="#" class="btn btn-success btn-sm save"><i class="fa fa-check"></i> Сохранить</a>
</div>

<div class="row">
		<div class="col-md-8">		
			<legend>Введите ваши реквизиты</legend>
            <div class="row">
                <div class="col-md-6">	
                    <div class="form-group">
                        <label>Получатель</label>
                        <input type="text" id="" class="form-control" name="" value=""/>
                        <p class="help-block">ООО "Магазин" или ИП Иванов А.А.</p>
                     </div>
                     
                     <div class="form-group">
                        <label>ИНН получателя</label>
                        <input type="text" id="" class="form-control" name="" value=""/>
                     </div> 
                     
                     <div class="form-group">
                        <label>Счет получателя</label>
                        <input type="text" id="" class="form-control" name="" value=""/>
                     </div> 
                     
                     <div class="form-group">
                        <label>Банк получателя</label>
                        <input type="text" id="" class="form-control" name="" value=""/>
                     </div> 
                     
                     <div class="form-group">
                        <label>БИК</label>
                        <input type="text" id="" class="form-control" name="" value=""/>
                     </div>
                     
                     <div class="form-group">
                        <label>БИК</label>
                        <input type="text" id="" class="form-control" name="" value=""/>
                     </div>
                     
                     
                     <div class="form-group">
                        <label>Кор. счет</label>
                        <input type="text" id="" class="form-control" name="" value=""/>
                     </div>
                     
                     <div class="form-group">
                        <label>Обозначение валюты</label>
                        <input type="text" id="" class="form-control" name="" value="руб."/>
                     </div>
                     
                     <div class="form-group">
                        <label>Обозначение копеек</label>
                        <input type="text" id="" class="form-control" name="" value="коп."/>
                     </div>
                     
            	 </div>
             </div>  
             
            
             
                    
        </div>        
</div>