<script type="text/ng-template" id="tree.html">
    <i ng-if="item.nodes && item.nodes.length > 0" ng-class="item.is_collapsed ? 'fa-minus' : 'fa-plus'" data-nodrag ng-click="ctrl.toggle(this)" class="fa"></i>
    <i class="fa fa-spin fa fa-spinner" style="display: none;"></i>

    <span>{{item.count}}</span>
    <div ng-class="category_id == item.id ? 'active' : ''" ng-click="ctrl.filterByCategory(this, item.id)" class="product-category-name">{{item.name}}</div>

    <ol ui-tree-nodes="" ng-model="item.nodes" class="products-categories" ng-class="{'hidden': !item.is_collapsed || !item.is_visible}">
        <li data-nodrag ng-repeat="item in item.nodes" ui-tree-node ng-include="'tree.html'"></li>
    </ol>
</script>

<div ng-show="categories" id="tree-root" class="products-categories" ui-tree="options">
    <ol class="dd-list-small" ui-tree-nodes ng-model="categories">
        <li class="products-categories-item" data-id="0">
            <div class="">
                <span>{{all_categories_count}}</span>
                <div ng-class="category_id == null ? 'active' : ''" ng-click="ctrl.filterByCategory()" class="product-category-name">Все категории</div>
            </div>
        </li>

        <li data-nodrag ng-repeat="item in categories" ui-tree-node ng-include="'tree.html'" class="products-categories-item"></li>
    </ol>
</div>