<div id="sortview">
    <div class="itemcount">Товаров: {{items_count}}</div>

    <ul class="nav nav-pills" id="sort">
        <li class="disabled">Сортировать по:</li>
        <li>
            <a ng-class="sort === 'position' ? 'current' : ''" class="btn btn-link btn-small" ng-click="ctrl.sort($event, 'position');">
                <span>По порядку</span>
            </a>
        </li>
        <!--<li>-->
            <!--<a ng-class="sort === 'price' ? 'current' : ''" class="btn btn-link btn-small allow-jump" ng-click="ctrl.sort($event, 'price')" data-placement="bottom" data-toggle="tooltip" data-original-title="Сначала дорогие Сначала дешевые">-->
                <!--<i ng-class="sort === 'price' && sort_type === 'DESC' ? 'fa-sort-amount-desc' : 'fa-sort-amount-asc'" class="fa"></i><span>Цене</span>-->
            <!--</a>-->
        <!--</li>-->
        <li>
            <a ng-class="sort === 'created_dt' ? 'current' : ''" class="btn btn-link btn-small allow-jump" ng-click="ctrl.sort($event, 'created_dt')"  data-placement="bottom" data-toggle="tooltip" data-original-title="Сначала старые Сначала новые">
                <i ng-class="sort === 'created_dt' && sort_type === 'DESC' ? 'fa-sort-numeric-desc' : 'fa-sort-numeric-asc'" class="fa"></i><span>Новизне</span>
            </a>
        </li>
        <li>
            <a ng-class="sort === 'name' ? 'current' : ''" class="btn btn-link btn-small allow-jump" ng-click="ctrl.sort($event, 'name')">
                <i ng-class="sort === 'name' && sort_type === 'DESC' ? 'fa-sort-alpha-desc' : 'fa-sort-alpha-asc'" class="fa"></i><span>Алфавиту</span>
            </a>
        </li>
    </ul>
</div>
<div ng-show="items" class="itemslist">
    <ol class="dd-list" data-href="">

        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>

        <li ng-repeat="product in items" data-id="{{product.id}}" class="product-list-item">
            <div class="move-item"></div>

            <div class="product-list-item-content">
                
                <!-- <input type="checkbox" class="checkb" value="{{product.id}}">*}
                
                -->
                
                <div class="ui checkbox product-checkbox-js">
                  <input type="checkbox" tabindex="0" class="hidden">
                  <label></label>
                </div>

                <div class="productimage">
                    <img ng-src='{{product.image.resized_filename}}' alt='{{product.image.name}}'>
                </div>
                    
                <div class="product-list-item-block">
                    <div class="product-left">
                        <a href="{{product.admin_url}}" target="_self" class="product-name-list">{{product.name}}</a>
                    </div>
                    <div ng-show="product.variants" class="variants-block">
                        <div class="onevariant">
                            <div class="variantname"><span>{{product.variant.name | limitTo : 9 : 0}}{{product.variant.name.length > 10 ? '...' : ''}}</span></div>
                            <div class="product-list-item-quantity">
                                <input type="text" class="form-control" name="variants_stock[{{product.variant.id}}]" ng-value="product.variant.stock == null || product.variant.stock == '' ? '∞' : product.variant.stock">
                            </div>
                            <div class="product-list-item-price">
                                <input type="text" class="form-control" name="variants_price[{{product.variant.id}}]" ng-value="product.variant.price">
                                <div class="product-list-item-currency"></div>
                            </div>
                        </div>
                        <div ng-show="product.variants.length > 1">
                            <div id="variants-product-{{product.id}}" class="collapse">
                                <div ng-repeat="variant in product.variants" class="onevariant">
                                    <div class="variantname">{{variant.name | limitTo : 9 : 0}}{{variant.name.length > 10 ? '...' : ''}}</div>
                                    <div class="product-quantity">
                                        <input type="text" class="form-control" name="variants_stock[{{variant.id}}]" ng-value="variant.stock == null || variant.stock == '' ? '∞' : variant.stock">
                                    </div>
                                    <div class="product-list-item-price">
                                        <input type="text" class="form-control" name="variants_price[{{variant.id}}]" ng-value="variant.price">
                                        <!--<div class="product-currency">{if !empty($product->currency_id)}{$currencies[$product->currency_id]->sign}{else}{$admin_currency->sign}{/if}</div>-->
                                    </div>
                                </div>
                            </div>
                            <a ng-show="product.variants.length > 1" data-toggle="collapse" data-target="#variants-product-{{product.id}}"  aria-expanded="false" aria-controls="collapseExample" class="accordion-toggle showvariants">Варианты <span class="darr">&darr;</span><span class="uarr">&uarr;</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightside">
                <div class="controllinks">
                    <code class="opcity50">{{product.id}}</code>
                    <a href="" class="delete-item">
                        <i class="fa fa-times"></i>
                    </a>
                    <div ng-click="ctrl.toggleVisible(product.id)" ng-class="product.is_visible == 1 ? 'light-on' : 'light-off'" class="toggle-item"></div>
                </div>
            </div>
        </li>
        <div ng-include="'minicart/templates/system/js-template/parts/pagination.html'"></div>
    </ol>
</div>

<p ng-hide="items">Нет товаров</p>
