<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted credit">Работает на <a href="http://minicart.ru/">Minicart 1.0.0</a></p>
            </div>
            <div class="col-md-6 tright">
                <p class="text-muted credit"><a href="http://minicart.userecho.com/forum/30886-idei-i-predlozheniya/" target="_blank">Сообщить об ошибке</a></p>
            </div>
        </div>
    </div>
</div>
